<% if user_signed_in? %>
<%= simple_form_for [@comment, Question.new] do |f| %>

<%= f.input :body, as: :text, input_html: { rows: "1", :class => "hellogrey inputBody" }, label: false, placeholder: "Ask Question" %>

<%= f.submit "Ask", class: "button5 myButton" %>

<% end %>

<% else %>
<%= link_to "Ask Question", new_user_session_path, class: "questionlink" %>
<div class="questionlinkpadding"></div>
<% end %>