<div class="visible-phone hidden-tablet hidden-desktop">

<div class="span1 offset1">
<div class="circle">
<%= link_to (image_tag(@comment.user.image)), user_path(@comment.user) %>
</div>
</div>







</div>