<div class="container">
<div class="row">

<div class="span3 offset1">
<div class="line2">
<div class="titlecontainerb">
<%= @comment.body %>
</div>
<hr/>
<div class="titlecontainer5">
<%= @comment.post.title %>
</div>


</div>
</div>

<div class="span6">
<%= render 'form' %>
</div>

</div>
</div>
</div>




