
<div class="span8 offset1">
<div class="questioncontainer2">
<%= @comment.body %>
</div>
</div>






<div class="span8 offset1">

<hr />
<div class="questioncontainer3">  
<%= link_to 'Answer', new_comment_question_path(@comment), class: "button3" %>
</div>
<div class="number">
<%= @comment.questions.count %> Answers
</div>
</div>


<div class="span8 offset1">
<%= render 'form' %>
</div>


