<%= render 'form' %>
<div class="postrules">
<strong>Before you answer:</strong><br>
Is this answer relevant to the question?<br>
Does it add something new or insightful that is not in previous answers?<br>
Is it appropriate, respectful and factual?<br>



</div>


