<style media="screen">
  a:hover { text-decoration: none !important; }
</style>


<div class="px300">

<%= link_to user_omniauth_authorize_path(:twitter) do %>
 <div class="twitterlogin">
<div class="whitenotext">
<i class="fa fa-twitter"></i>
Sign up with Twitter
</div>
</div>
<% end %>


 <div class="lightcontainer">
We will never post to Twitter without your permission. 
</div>
<div class="lightcontainer">
By clicking "Sign up with Twitter" you indicate that you have read <br> and agree to the Terms of Service.
</div>	

</div>


