 <div style="position: fixed; left: 50%; top: 0%; margin-left: -120px;">

<div class="login-recommend-add-div">
   <div style="background: rgba(1,139,198,1); padding: 20px; width: 200px; right: 0; top: 75px;">
    <%= render :partial => "devise/sessions/new" %>
   </div>
 </div>

</div>





