<style media="screen">
  a:hover { text-decoration: none !important; }
</style>


<div class="px300">

<div class="signuptext20">Podium.</div>

    <div class="underpodiumhome20">
    Sign Up for Podium
    </div>	

<%= link_to user_omniauth_authorize_path(:twitter) do %>
 <div class="twitterlogin">
<div class="whitenotext">
<i class="fa fa-twitter"></i>
Sign up with Twitter
</div>
</div>
<% end %>





</div>





