

<div class="dividerhead">
<%= link_to "ANSWERS", answersmore_path(@post) %>
</div>

<div class="row"></div>


<% @answersmore.each_with_index  do |question, i| %>
<style media="screen">
  .read-more-<%= question.id %> { opacity: 0.4;}
</style>





<%= render :partial => 'layouts/answersfeed', locals: {question:question} %>


<% unless @answersmore.count == (i + 1) %>
<hr style="width: 30%;"/>
<% end %>

<% end %>