

<% if @comments.count == 0 %>
<div class="center">
<div class="eventmargin2">
There are no questions yet. 
</div>
</div>
<% end %>

<% @comments.each_with_index  do |comment, i| %>

<div class="date4" style="margin: 0px 0px 7px 0px;">
Asked <%= time_ago_in_words(comment.created_at) %> ago
</div>

<div class="titlecontainer20">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>

<div class="nameblueside3">
<%= link_to (pluralize(comment.questions.count, 'Answer')), post_comment_path(@post, comment), class: "blue"  %> 
</div>

<hr class="topquestion2"/>


<% end %>




<div class="sixty"></div>



