<% if @post.comments.count < 1 %>
<div class="center">
<div class="paddingtop">
<strong>There are no posts yet.</strong>
</div>
</div>
<% end %>

<% @comments.each do |comment| %>

<div class="mobilesubtitle">
<%= comment.subtitle %>
</div>

<div class="mobilequestioncontainer">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>

<div class="blue">
<strong><%= comment.questions.count %> Questions</strong>
</div>

<div class="mobilepadding"></div>

<% end %>