


<div class="visible-desktop hidden-phone hidden-tablet">
<div class="span6 centered">


<% @comments.each_with_index  do |comment, i| %>



<div class="titlecontainer20">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>

<div class="nameblueside2">
<%= pluralize(comment.questions.count, 'Answer') %> 
</div>

<div class="date2">
Asked <%= time_ago_in_words(comment.created_at) %> ago
</div>

<hr/>


<% end %>




<div class="sixty"></div>




</div>
</div>