<%=div_for(comment) do %>
 <div class="questioncontainer">
 <div class="eventhead">
 <p> 
 	<p2><strong><%= link_to (comment.title), comment_questions_path(comment) %></strong></p2>
 	  

 	</p>
 	
 	
 	<% if user_signed_in? %>
    <div class="answercontainer">
    <%= link_to 'Answer', new_comment_question_path(comment)%>
 	
 	</div>
    </div>
    </div>
 	


 	<% end %>
 	<% end %>