<%= div_for(comment) do %>
 <div class="questioncontainer">
 <div class="eventhead">

 	<p2><%= link_to (comment.body), comment_questions_path(comment) %></p2>
 	
 	
 	</div>
 	
 	
 	
 	<% if user_signed_in? %>
    <div class="answercontainer">
     <%= link_to 'Answer', new_comment_question_path(comment)%>
    
 	</div>
    </div>
 	

<% end %>
<% end %>

 
 	