

<div class="width6">

<% if @comments.count == 0 %>
<div class="center">
<div class="eventmargin2">
There are no questions yet. 
</div>
</div>
<% end %>


<% @comments.each_with_index  do |comment, i| %>



<div class="titlecontainer20">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>

<div class="nameblueside3">
<%= link_to (pluralize(comment.questions.count, 'Answer')), post_comment_path(@post, comment), class: "blue"  %> 
</div>

<div class="date4">
Asked <%= time_ago_in_words(comment.created_at) %> ago
</div>

<hr class="topquestion"/>


<% end %>




<div class="sixty"></div>




</div>
