<div class="span7 centered">


<%= simple_form_for [@post, Comment.new] do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<%= f.input :title, as: :text, input_html: { rows: "1", :class => "hello" }, label: false,placeholder: "Ask Question" %>


<%= f.submit "Post", class: "favouritebutton myButton" %>

<hr/>

 <% end %>

</div>


<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#user_image").change(function(){
        readURL(this);
    });

</script>