<div class="margin5">
<%= simple_form_for [@post, Comment.new] do |f| %>
 <p>
<div class="form">
  <%= f.input :body, as: :text, input_html: { :style=> 'width: 50%', :class => "create" }, label: false,placeholder: "Add Question" %>
 
  

   
 </p>
 <%= f.submit "Ask Question", class: "button5" %>
 <div class="cancel">
<%= link_to "Cancel", post_path(@post)%>
</div>
 </div>
 <% end %>

<hr/>
</div>

