

<div class="dividerhead">
<%= link_to "QUESTIONS", topquestions_path(@post) %>
</div>


<% @topquestions.each_with_index  do |comment, i| %>


<%= render :partial => 'layouts/questionsfeed', locals: {comment:comment} %>

<% unless @topquestions.count == ( i + 1 ) %>
<hr class="questionsline"/>
<% end %>


<% end %>