<% @unansweredshow.each do |question| %>
<% unless question.answer.present? %>


<div class="lightname">
<%= link_to (question.user.name), user_path(question.user), id: "question_#{question.id}" %>
</div>

<div class="commentquestion">
<%= question.body %>
</div>
<%= link_to "Answer", new_question_answer_path(question), class: "fakeenter" %>
<div class="commentmargin10"></div>

<% if @comment.user == current_user or current_user.try(:admin?) %>
 <%= link_to 'Delete', comment_question_path(question.comment, question), method: :delete, data: { confirm: 'Are you sure?' }, class: "lightcontainercomment2" %> 




<% end %>


<div class="commentquestionmargin"></div>

<% end %>

<% end %>

