<% @unansweredshow.each do |question| %>
<% unless question.answer.present? %>


<div class="lightname">
<%= link_to (question.user.name), user_path(question.user), id: "question_#{question.id}" %>
</div>

<div class="attempt">
<div class="commentquestion">
<%= question.body %>
</div>
</div>

<% if @comment.user == current_user %>

<div class="commentmargin10"></div>



<%= link_to "Answer", new_question_answer_path(question), class: "fakeenter" %>




<% end %>


<div class="commentquestionmargin"></div>

<% end %>

<% end %>

