<%= render 'form' %>
<div class="postrules">
<strong>Before you ask question:</strong><br>
Is there already a question like yours?<br>
Does this question encourage thoughful answers?<br>
Is it respectful and appropriate?


</div>


