 <div class="span6">
 <body id="eventhead">
 <div class="commentshowcontainer">
 <h1><%= (@comment.title) %></h1>



 


</div>

</div>



<div class="usernameshowcontainer">
<div class="span2">
 
  
 <div class="usernamecontainer">
 
 Posted by <%= @comment.user.name %>
 
 <%= time_ago_in_words(@comment.created_at) %> ago <br>
 
 <%= link_to "Ask a question", new_comment_question_path(@comment) %>


</div>
</div>
</div>





 
