<div class="notificationheadermargin"></div>

<% if @allnotifications.count == 0 %>
<div class="padding10"></div>
<div class="center">

<div class="eventmargin3">
<i class="fa fa-bell-o" style="text-align: center !important; line-height: 16px !important; display: block !important; float: none !important; margin-bottom: 15px; opacity: 0.5; margin-top: 30px; font-size: 28px;" ></i>	
You have no notifications.
</div>
</div>
<% end %>



<% @allnotifications.each do |activity| %>	


<%= render_activity activity %>	



<% end %>
