<div class="span7 centered">	

<% if @user.image? %>	


<div class="userimage">
<%= image_tag @user.image %>
</div>
<% end %>



<div class="usernametext2">	
<%= @user.name %>
</div>



<% if @user.place.present? %>
<div class="country">
<%= @user.place %>
</div>
<% end %>


<div class="profilemargin"></div>


</div>