
	

<div class="userimagenotsignedin">
<%= image_tag @user.image %>
</div>

<% if current_user == @user %>


<div class="floatright">
<%= link_to "Settings", edit_user_registration_path(current_user), class: "navbarbutton" %>
</div>	

<% end %>


<div class="usernametext2">	
<%= @user.name %>
</div>

<div class="row"></div>
<hr class="profilelinezero"/>
<div class="row"></div>


