<%= render 'profile_head' %>


<div class="width7">





<div class="width5">


<%= link_to user_path(@user) do %>
<div class="posts-nav-no-blue">Posts</div>
<% end %>
<div class="posts-nav-blue">Answers</div>



<div style="margin-top: 35px;"></div>


<div id="products">
<%= render 'users/allanswers' %>
</div>




<%= will_paginate @comments %>


</div>
</div>




