<div class="width6">
<div style="margin-top: 20px;"></div>
<div class="notificationcount-text floatright" style="font-size: 14px;">
<%= link_to "See new...", notifications_path(@user), class: "blue" %>
</div>
<div class="notificationcount-text">
All Notifications
</div>

<hr style='margin-bottom: 20px; margin-top: 5px;'/>





	

<div id="products">
<%= render 'users/allnotifications' %>
</div>

<%= will_paginate @allnotifications %>



<div class="timeline-bottom"></div>
<div class="timeline-bottom"></div>

</div>

