
<div class="width6">
<div class="width50">
<div class="settingsnavbar51">
<%= link_to "New Activity", notifications_path(current_user), class: "navbarlink" %>
</div>
</div>
<div class="width50">
<div class="settingsnavbar50">
All Activity
</div>
</div>
</div>


<div class="width6">
	

<div id="products">
<%= render 'users/allnotifications' %>
</div>

<%= will_paginate @allnotifications %>

</div>