<div class="width6">
<div class="notifications-margin"></div>

<div class="leftstoryimage">
<div class="notificationcount-circle">
<%= @allnotifications.count %>
</div>
</div>

<div class="rightstorytitle">


<div class="notificationcount-text" style="font-size: 16px;">
All Notifications
</div>

<div class="notificationcount-text">
<%= link_to "See new", notifications_path(current_user), class: "blue" %>
</div>

<hr style='margin-bottom: 0px; margin-top: 10px;'/>
</div>


<div class="notificationheadermargin"></div>


<div id="products">
<%= render 'users/allnotifications' %>
</div>

<%= will_paginate @allnotifications %>



<div class="timeline-bottom" style="border-left: 2px solid rgba(51,51,51,0.1);"></div>
<div class="timeline-bottom" style="border-left: 2px solid rgba(51,51,51,0.1);"></div>

</div>

