<div class="width6">
<div class="notifications-margin"></div>

<div class="leftstoryimage">
<% if notificationcount > 0 %>
<div class="notificationcount-circle">
<%= notificationcount %>
</div>
<% else %>
<div class="notificationcount-circle" style="opacity: 0.5;">
<%= notificationcount %>
</div>
<% end %>
</div>

<div class="rightstorytitle">


<div class="notificationcount-text" style="font-size: 16px;">
New Notifications
</div>

<div class="notificationcount-text">
<%= link_to "See older", allnotifications_path(current_user), class: "blue" %>
</div>

<hr style='margin-bottom: 0px; margin-top: 10px;'/>
</div>

<div class="notificationheadermargin"></div>


<% if notificationcount == 0 %>
 <div class="nonew-notifications">
  You don’t have any new notifications. When someone answers your question, replies to or recommends your answer, you will see it here.
  </div>
<% end %>


<% @activities.each do |activity| %>	

  <%= render_activity activity %>	

<% end %>


<% if notificationcount > 0 %>
<div class="timeline-bottom"></div>
<div class="timeline-bottom"></div>
<% end %>



</div>


<script>
$(document).ready(function() {
    $.ajax '/users/read_all_notifications' ,
        type: "post"
        dataType: "json"
        beforeSend: (xhr) ->
          xhr.setRequestHeader "X-CSRF-Token", $("meta[name=\"csrf-token\"]").attr("content")
        cache: false  // code here

 });
 
 </script>