
<div class="width6">

<div class="width50">
<div class="settingsnavbar50">
<% if notificationcount > 0 %>
New Activity (<%= notificationcount %>)
<% else %>
New Activity 
<% end %>
</div>
</div>
<div class="width50">
<div class="settingsnavbar51">
<%= link_to "All Activity", allnotifications_path(current_user), class: "navbarlink" %>
</div>
</div>

</div>
	

<div class="width6">

<% if notificationcount == 0 %>
<div class="padding10"></div>
<div class="center">

<div class="eventmargin3">
<i class="fa fa-bell-o" style="text-align: center !important; line-height: 16px !important; display: block !important; float: none !important; margin-bottom: 15px; opacity: 0.5; margin-top: 30px; font-size: 22px;" ></i>	
You have no new activity.
</div>
</div>
<% end %>




<% @activities.each do |activity| %>	


<%= render_activity activity %>	



<% end %>


</div>


<script>
$(document).ready(function() {
    $.ajax '/users/read_all_notifications' ,
        type: "post"
        dataType: "json"
        beforeSend: (xhr) ->
          xhr.setRequestHeader "X-CSRF-Token", $("meta[name=\"csrf-token\"]").attr("content")
        cache: false  // code here

 });
 
 </script>