<div class="width6">
<div style="margin-top: 20px;"></div>
<div class="notificationcount-text floatright" style="font-size: 14px;">
<%= link_to "See older...", allnotifications_path(current_user), class: "blue" %>
</div>
<div class="notificationcount-circle">
<%= notificationcount %>
</div>
<div class="notificationcount-text">
New Notifications
</div>

<hr style='margin-bottom: 20px; margin-top: 20px;'/>




<% if notificationcount == 0 %>
<% end %>
<% @activities.each do |activity| %>	
  <%= render_activity activity %>	
<% end %>
</div>


<script>
$(document).ready(function() {
    $.ajax '/users/read_all_notifications' ,
        type: "post"
        dataType: "json"
        beforeSend: (xhr) ->
          xhr.setRequestHeader "X-CSRF-Token", $("meta[name=\"csrf-token\"]").attr("content")
        cache: false  // code here

 });
 
 </script>