<div class="settingsnavtop" style="padding: 20px 0px 20px 0px !important; background-color: white !important; border-bottom: 1px solid rgba(51,51,51,0.1);">


<div class="width6">
<div class="underpodiumhomeguidelinesbig" style="display: inline;">
New Notifications
</div>
<div class="underpodiumhomeguidelinesbig" style="font-size: 12px; display:inline; margin-left: 10px; opacity: 0.75;">
<%= link_to "All Notifications...", allnotifications_path(current_user) %>
</div>

</div> 
</div>


	
<div class="width6">
<% if notificationcount == 0 %>
<div class="padding10"></div>
<div class="center">

<div class="eventmargin3">
<i class="fa fa-bell-o" style="text-align: center !important; line-height: 16px !important; display: block !important; float: none !important; margin-bottom: 15px; font-size: 18px;" ></i>	
No new notifications
</div>
</div>
<% end %>
</div>



<% @activities.each do |activity| %>	


<%= render_activity activity %>	



<% end %>


</div>


<script>
$(document).ready(function() {
    $.ajax '/users/read_all_notifications' ,
        type: "post"
        dataType: "json"
        beforeSend: (xhr) ->
          xhr.setRequestHeader "X-CSRF-Token", $("meta[name=\"csrf-token\"]").attr("content")
        cache: false  // code here

 });
 
 </script>