<div class="span7 centered">
Your Questions
<hr/>

<div class="mobilepadding20"></div>
<% @question.each do |question| %>

<div class="circlecomment">
<%= image_tag question.user.image %>
</div>

<div class="lightname">
<%= question.user.name %>
</div>

<div class="commentquestion">
<%= question.body %>
</div>

<hr6/>

<% end %>
</div>





















