<%= render 'users/userhead' %>

<div class="span7 centered">
<div class="hrevent"></div>
<%= link_to "Upvoted", user_path(@user), class: "eventtoptext4" %>


<div class="redtopline">	
Questions
</div>
<%= link_to "Interviews", userinterviews_path(@user), class: "eventtoptext4" %>


<% if @user.questions.count > 0 %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> hasn't asked any questions yet.
</div>
</div>
<% end %>

<div class="mobilepadding20"></div>





















