
<%= render 'profile_head' %>


<div class="navbar-profile-content-container">


<div class="width7">


<div style="margin-top: 35px;"></div>



<div class="profile-post-types" style="color: #288bff;">
Recommended
</div>

<%= link_to allcomments_path(@user) do %>
<div class="profile-post-types">
Posts
</div>
<% end %>

<%= link_to allanswers_path(@user) do %>
<div class="profile-post-types">
Replies & Answers
</div>
<% end %>

<hr style="margin-top: 20px;"/>





<div class="width5-center">


<div style="display: none;">
<%= render 'posts_show' %>
</div>

</div>
</div>

</div>



<script>
$('#blue-edit-profile, .close-modal-slide, .modaldeclinebutton').click(function () {
        $('.fullpage-modal').toggle('slide', {
            direction: 'top'
        }, 300);
    });
</script>









