
<%= render 'profile_head' %>


<div class="navbar-profile-content-container">




</div>



<script>
$('#blue-edit-profile, .close-modal-slide, .modaldeclinebutton').click(function () {
        $('.fullpage-modal').toggle('slide', {
            direction: 'top'
        }, 300);
    });
</script>









