<div id="products">
  <%= render 'users/usercomments' %>
</div>


<% if @user.votes.count == 0 %>
  <%= @user.name %> hasn't commented on any answers yet.
<% end %>



<% if @links.count > 5 %>
 <div class="width6">
  <div class="floatright">
    <%= link_to "See all upvotes...", allcomments_path(@user), class: "blue" %>
   </div>
 </div>
<% end %>


