<div class="dividerhead">
QUESTIONS
</div>


<% @comments.each_with_index do |comment, i| %>

<%= render :partial => 'layouts/questionsfeed', locals: {comment:comment} %>

<% unless @comments.count == ( i + 1 ) %>
<hr class="questionsline"/>
<% end %>

<% end %>