<div class="dividerhead">
ANSWERS
</div>

<div class="row"></div>


<% @questions.each_with_index do |question, i| %>


<%= render :partial => 'layouts/answersfeed', locals: {question:question} %>

<% unless @questions.count == (i + 1) %>
<hr style="width: 30%;"/>
<% end %>


<% end %>

