<hr class="dividerline"/>
<div class="dividerhead" style="color: rgba(51,51,51,0.5); opacity: 1;">
ANSWERS FROM <%= link_to (@event.post.title), post_path(@event.post), style: "color: #018bc6 !important; font-weight: normal; font-size: 12px; margin-left: 5px; background: rgba(1,139,198,0.1); padding: 4px; font-weight: bold;" %>
</div>


<% @related.limit(2).each_with_index  do |question, i| %>

<%= render :partial => 'layouts/answersfeed', locals: {question:question} %>

<hr style="width: 30%;"/>



<% end %>

<% if @related.count > 2 %>
<%= link_to post_path(@event.post) do %>
<div class="go-story">
Go to story
</div>
<% end %>
<% end %>