<% if @question.comment.user == current_user %>

<div class="span7 centered">

<div class="paddingtop"></div>
<div class="paddingtop"></div>
<div class="paddingtop"></div>

<div class="floatright">
<%= link_to_function "x", "history.back()", class: "close" %>
</div>

<div class="lightname">
<%= link_to (@question.user.name), user_path(@question.user) %>
</div>

<div class="commentquestion">
<%= @question.body %>
</div>

<div class="commentmargin10"></div>

<div class="commentquestionanswer">
<div class="attempt">
<%= render 'form' %>
</div>
</div>

<hr6/>

</div>


<% end %>
