


<div class="modal-width-slide">



<div class="infopage-container-modal">


<div class="guidelines-text-light" style="font-weight: bold;">
Please read the following policies and guidelines before answering.
</div>

<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text">
Answers should be truthful and authentic. Incorrect, outdated, or otherwise misleading answers are not helpful.</span></div>
<div class="guidelines-text-more">Read more...</div>



<hr class="modalline-slide"/>

<div style="width:100%;"><span class="guidelines-text">
Answers must not contain personal attacks, disrespectful or insulting attacks on the question or other answers, or hate speech.</span></div>
<div class="guidelines-text-more">Read more...</div>


<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text">
Answers should be truthful and authentic. Incorrect, outdated, or otherwise misleading answers are not helpful.</span></div>
<div class="guidelines-text-more">Read more...</div>



<hr class="modalline-slide"/>
<div class="guidelines-text-light">
Answers will not be published or may be deleted if they do not comply with the above policies.
</div>
<hr class="modalline-slide"/>
<div class="guidelines-text-light" style="display: block; text-align: center;">
Answer <strong><%= @comment.title %></strong>
</div>  
<%= link_to "→", new_comment_question_path(@comment), class: "form-next-modal" %>
<div class="row"></div>
<hr class="modalline-slide"/>

</div>
</div>