
    <div class="well">
       <div class="span10">
<div class="row">
<div class="red">

<div class="headtext">	
Podium let's everyone have a voice on the most important events
</div>
</div>
</div>
</div>

        <p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
    </div>
