<div class="span2 centered">
<%= image_tag ("http://i.imgur.com/IgMPC2v.png") %>
</div>
<div class="paddingtop"></div>
<div class="span4 centered">
<div class="titlecontainer">
What is Podium?
</div>
</div>




