


<div class="imagestrip" style="height: 100% !important; position: fixed;">


<div class="width6">
<div class="sixty"></div>
<div class="p2" style="font-size: 26px !important; text-align: center; color: white !important;">
Connect the dots, and put history in the palm of your hand. Timeline gives the busy reader a brief overview, with in-depth analysis and historical context under every surface.
</div>
<hr style="border-top: 1px solid rgba(255,255,255,1) !important; opacity: 0.5 !important;"/>
<div class="p2" style="font-size: 20px !important; border-left: 2px solid rgba(255,255,255,0.5); padding-left: 20px; color: white !important;">
Connect the dots, and put history in the palm of your hand. Timeline gives the busy reader a brief overview, with in-depth analysis and historical context under every surface.
</div>
</div>
</div>

<div class="width6">



</div>