<div class="width6">

<a href="#myModal" role="button" class="bluebuttonask" style="margin-top: 14px !important;" data-toggle="modal">+ Question</a>

<div class="sixty"></div>

<div class="logomedium">
<%= image_tag ("https://s3.amazonaws.com/podiumimages/static/podiumlogo.png") %>
</div>

<div class="mission">

</div>

<hr/>


<div class="aboutheader">
Browse the top stories happening right now
</div>

<div class="underaboutheader">
Or pick a category
</div>

<div class="blueboximage">
</div>

<div class="bluebox">
</div>

<div class="bluebox2">
</div>


<hr class="aboutline"/>

<div class="aboutheader">
Browse the top questions and answers for each story
</div>

<div class="underaboutheader">
Want to learn more? Follow the link under the summary to an article picked by our editors
</div>

<div class="blueboximagetop">
</div>
<div class="blueboxfeed">
</div>


<hr class="aboutline"/>


<div class="aboutheader">
Read, upvote and comment on your favourite answers
</div>

<div class="underaboutheader">
Your profile shows all your upvoted answers for each story
</div>

<div class="blueboximagestrip">
</div>
<div class="blueboxfeed2">
</div>

<hr class="aboutline"/>

<div class="center">
<%= link_to "Got it!", root_path, class: "favouritebuttonleft" %>
</div>

</div>