<div class="row">
<div class="container">

<div class="span4 offset1">

<div class="aboutbox">
<div class="newspaper">

<div class="description">
Early Warnings, Evacuations Save Lives in Cyclone
</div>

<div class="lightcontainer">
about 2 hours ago
</div>

<div class="aboutimage">
<%= image_tag ("http://s3.amazonaws.com/podiumimages/posts/images/000/000/001/small/train-derailment-2.jpg?1382323041") %>
</div>


<div class="info6">
12 Questions
</div>

<div class="newspaper10">
What did the explosion feel like for those nearby?
</div>
<div class="newspaper10">
Does this help make the case for oil pipelines?
</div>


</div>
</div>
</div>

<div class="span4">
<div class="aboutpadding">
<div class="titlecontainer">
<div class="blue">
Find the newest, most important events from across the world to in your own backyard.
</div>
</div>
</div>

<div class="aboutpadding2">
<div class="aboutpaddingleft">
<div class="titlecontainer">
<div class="blue">
Explore interesting, informative questions.
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>


<div class="row">
<div class="container">

<div class="span4 offset1">

<div class="aboutpadding3">
<div class="aboutpaddingbottom">	
<div class="titlecontainer">
<div class="blue">
Read amazing answers.
</div>
</div>
</div>
</div>

<div class="info2">
<strong>HalyLove</strong> <br>
<div class="blue">
Lives 400 metres from the train crash
</div>
</div>

<hr/>
The region's vegetable, peanut and corn crops were also hurt, he said. Rural roads here—where most people sustain themselves by growing rice, bananas, coconuts and other agricultural goods—were flanked by uprooted trees, flattened crops and flooded fields. Hundreds of villagers Sunday were selling papayas, vegetables and whatever else they could salvage at throwaway prices. But there were few takers. Jhunna Behra, a 60-year-old small farmer, as she squatted next to a pile of papayas, pumpkins and guavas in the village of Subalaya in Orissa, worried about how she would eat in the coming days after his food runs out

</div>



<div class="span5">
<div class="aboutpaddingleft">
<div class="info7">
8 Answers
</div>
<div class="questioncontainer">
What did the explosion feel like for those nearby?
</div>
<div class="lightcontainer7">
Last 1 of 8
</div>
The region's vegetable, peanut and corn crops were also hurt, he said. Rural roads here—where most people sustain themselves by growing rice, bananas, coconuts and other agricultural goods—were flanke
<div class="blue">
(Read more...)
</div>
</div>

<div class="aboutlinkpadding">
<div class="aboutpaddingleft">
<div class="titlecontainer">
<div class="aboutlink">
<%= link_to ("See what's happening"), posts_path, class: "red" %>
</div>
</div>
</div>
</div>
</div>



</div>
</div>