<div class="width6">


<div class="largelogo">
Podium.
</div>

<div class="mission">

</div>

<hr/>


<div class="aboutheader">
Browse the top stories in the world
</div>

<div class="underaboutheader">
Or pick a category
</div>

<div class="blueboximage">
</div>

<div class="bluebox">
</div>

<div class="bluebox2">
</div>


<hr class="aboutline"/>

<div class="aboutheader">
See the questions and answers about that event
</div>

<div class="underaboutheader">
Sort by top question, top answers and new questions
</div>

<div class="blueboximagetop">
</div>
<div class="blueboxfeed">
</div>


<hr class="aboutline"/>


<div class="aboutheader">
Read the answers
</div>

<div class="underaboutheader">
Upvote and comment on the best
</div>

<div class="blueboximagestrip">
</div>
<div class="blueboxfeed2">
</div>

<hr class="aboutline"/>

<div class="center">
<%= link_to "Got it!", root_path, class: "favouritebuttonleft" %>
</div>

</div>