<div class="px300">
<div class="sixty"></div>

<div class="center">
<div class="logomedium">
<%= image_tag ("https://s3.amazonaws.com/podiumimages/static/podiumlogo.png") %>
</div>
</div>

<div class="userbehindgrey3"> 	
<div class="completeyourprofile">
Please Update Your Browser
</div>
<div class="completesmall" style="border-bottom: 0px !important; margin-bottom: 0px !important;">
Hey, thanks for visiting. Unfortunately, we are unable to support your browser just yet.
</div>	
</div>

</div>