<div class="px300">
<div class="sixty"></div>

<div class="center">

<%= image_tag ("http://i.imgur.com/gdeWsr4.png") %>
</div>

<div class="userbehindgrey3"> 	
<div class="completeyourprofile">
Please Update Your Browser
</div>
<div class="completesmall" style="border-bottom: 0px !important; margin-bottom: 0px !important;">
Hey, thanks for visiting. Unfortunately, we are unable to support your browser just yet.
</div>	
</div>

</div>