

<div class="width7">

<div class="width5-center">
<hr/>




<p style="margin-bottom: 20px; margin-top: 12px;">
The tunnel was more than 5 feet tall and 28 inches wide, and it stretched for a mile, leading to an isolated building in Santa Juanita neighborhood. Along the route, there was PVC tubing for ventilation, oxygen tanks, tools, and lights.
</p>

<div class="row"></div>


<div style="float: right; display: inline-block; margin-top: 12px; max-width: 300px;">









</div>



<div style="float: left;">

<div style='display: table-cell; height: 50px; width: 50px;'>

<div class="avatar-feed">
<%= image_tag ("https://pbs.twimg.com/profile_images/80487785/Michael_Chui_face_square_reasonably_small.jpg") %>
</div>

</div>

<div style='display: table-cell;
  vertical-align: middle; padding-left: 20px; border-right: 1px solid rgba(51,51,51,0.1); padding-right: 20px; margin-right: 20px;'>

<div style="font-size: 16px; padding-bottom: 4px; text-transform: uppercase;">
Jim Kennedy
</div>
<div style="font-size: 14px; font-weight: 300;">
2 hours ago
</div>

</div>

</div>


<div style=" float: left; max-width: 200px; margin-left: 20px;">



<div style='display: table-cell; height: 50px; width: 24px;'>

<div style="background-color: #7CB342; height: 24px; width: 24px; border-radius: 3px; display: inline-block; text-align: center; float: right; margin-right: 15px; margin-top: 13px;">

<i class="material-icons" style="font-size: 18px; color: #fff; font-weight: bold; text-align: center; line-height: 24px; ">check</i>

</div>

</div>


<div style='display: table-cell;
  vertical-align: middle;'>

<div style="font-size: 12px; color: rgba(51,51,51,1); font-weight: 300; line-height: 1.4;">
Nevan Whiteside, Jon Adams and 3 others recommended
</div>

</div>



</div>


<div class="row"></div>

<hr style="margin-bottom: 25px;"/>



<div class="avatar-feed-comment">
 <%= image_tag ("https://pbs.twimg.com/profile_images/615394510009294848/3Pho3SGy_reasonably_small.jpg") %>    
 </div>

 <div style="overflow: hidden;">



<p style="margin-bottom: 8px; margin-top: 0px; font-size: 18px !important;">
The tunnel was more than 5 feet tall and 28 inches wide, and it stretched for a mile, leading to an isolated building in Santa Juanita neighborhood. Along the route, there was PVC tubing for ventilation, oxygen tanks, tools, and lights.
</p>

<div style="background-color: #0882d1; height: 20px; width: 20px; border-radius: 3px; display: inline-block; text-align: center; float: right;">

<i class="material-icons" style="font-size: 16px; color: #fff; font-weight: bold; text-align: center; line-height: 20px; ">check</i>



</div>

<div style="font-size: 14px; color: #0882d1; margin-right: 5px; display: inline; line-height: 20px;">
Mathew Keys

</div>

<div style="font-size: 12px; font-weight: 300; display: inline; line-height: 20px;">
2 hours ago
</div>

<div class="row"></div>

<hr style="margin-top: 15px; margin-bottom: 15px;"/>

</div>



</div>


<hr/>
<i class="material-icons" style="font-size: 22px; margin-right: 10px; color: #0882d1; float: left;">question_answer</i>
<div style="font-size: 14px; color: #0882d1; line-height: 22px;">
3 Replies
</div>



</div>