
 <div class="imagestrip" style="background-image: url(	http://localhost:3000/system/pictures/images/000/000/026/original/cricketworldcup2.jpg); margin-bottom: 35px;">
  <div class='darker'></div>
  <div class="absoluteheader">
     <%= render 'layouts/headerimage' %>
   </div>


<% if user_signed_in? %>  
  <a href="#Answer" role="button" data-toggle="modal" class="bluecircle white">+</a>
<% else %>  
  <%= link_to "+", new_user_registration_path, class: "bluecircle white" %>
<% end %>


<div class="absolutecontainer">
 <div class="relativecontainer">
  <div class="descriptionmargin"> 

   <div class="eventimagepreviewtext">
     Cricket World Cup being held in Australia and New Zealand
   </div>

    <hr class="whiteimageline"/>
</div>
</div>
</div>

</div>


<div class="width6">




<div class="titlecontainer">
Why are you protesting?
</div>

<hr class="dividerline" style="margin-bottom: 12px;"/>


<div class="row">




<div class="widthquestioncontainer" style="float: left;">
<div style="display: inline-block;">
<div class="dividerheadinline">
Answers
</div>  

<div class="questiondetails-text blue" style='margin-right: 15px;'>
Jon Adams and 2 others
</div>
</div>

<div style="display: inline-block;">
<div class="dividerheadinline">
Asked
</div>
<div class="questiondetails-text">
2 days ago
</div>
</div>

</div>



<div class="floatright">
<div class="submit-share">
Share
</div>  
<div class="submitblue-small">
Favorite
</div>
</div>

<div class="row"></div>
<div class="questionconnecttop"></div>
<div class="questionconnectbottom"></div>

<div style="width: 50%">
<div style="font-size: 16px; color: #018bc6; display: inline; font-weight: bold;">
Younis Khan
</div>
<div style="font-size: 14px; color: rgba(51,51,51,0.5); margin-top: 5px;">
Current Pakistani Cricketer Professional Crickter 
</div>
</div>
<div class="row" style='margin-top: 20px;'></div>
<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/570308192505044992/qDQrc0Hw_400x400.jpeg") %>
 </div>

<p>
More than just a trophy could be at stake when the Cricket World Cup gets started Saturday in Christchurch with a match between the co-host New Zealand and Sri Lanka.
Cricket has three separate formats, and while the one-day international version of the game is used for World Cups, that format is perhaps the one most in jeopardy.

</p>  

<hr/>





</div>






<div style="position: fixed; top: 200px; right: 0;">

<div class="share-social" style="display: none;">
   <div style="background: rgba(1,139,198,1); padding: 20px; width: 200px; right: 0; top: 75px;">
    <button type="button" class="close-twitter" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="infopage-boldtext" style="font-size: 14px; color: rgba(255,255,255,1);">
Share Question
</div>
<div class="infopage-smalltext" style="font-size: 12px; margin-bottom: 20px; color: rgba(255,255,255,0.5);">
Share to Facebook and Twitter
</div>
<div style="text-align: center">
   <i class="fa fa-twitter" style="color: white; font-size: 34px; display: inline-block; margin-right: 15px;"></i>
   <i class="fa fa-facebook-square"></i>
   </div>
 </div>
 </div>

</div>

<script>
$('.submit-share, .close-twitter').click(function () {
        $('.share-social').toggle('slide', {
            direction: 'right'
        }, 300);
    });

</script>


