<style>
body {background-color: rgba(1,139,198,0.03);}
</style>

<div class='blue-page'>

<%= link_to root_path do %>
<div class="about-back">

<div class="orange-back">
<i class="fa fa-long-arrow-left" style="color: white; margin-left: 0px;"></i>
</div>
<div class="orange-back-text">
Home
</div>

</div>
<% end %>

<div class="width6">

<div class="blue-page-logo-small">
Podium.
</div>

<div class="blue-page-tagline small">
Sharing the world's stories.
</div>

</div>
</div>

<div class="width6">

<div class="large-para-width"><span class="large-para"> 
Have a question?
<a href="mailto:hello@readpodium.com" target="_top" class="blue" style="text-decoration: underline !important;">
Drop us a line.</a>
</span>
</div>

<hr/>

</div>