<% if user_signed_in? %>

<div style="background-color: rgba(51,51,51,0.1); padding: 25px 0px 30px 0px; line-height: 1;">
<div class="width7">

<div style="font-weight: 700; color: #288bff; font-size: 40px; text-transform: uppercase; display: inline; ">
Followed Stories (<%= @following.count %>)
</div>

</div>
</div>


<div class="width7">
<% if @following.present? %>

<div id="products" data-no-turbolink>
 <%= render 'following' %>
</div>

<%= will_paginate @following %>

<% else %>
<div class="nonew-notifications">
   You haven't followed any questions yet. Click the blue follow button belside a question and it will show up here.
</div>
<% end %>





<% else %>





<% end %>

</div>