<div class='blue-page'>

<%= link_to root_path do %>
<div class="about-back">

<div class="orange-back">
<i class="fa fa-long-arrow-left" style="color: white; margin-left: 0px;"></i>
</div>
<div class="orange-back-text">
Home
</div>

</div>
<% end %>

<div class="width6">

<div class="blue-page-logo-small">
Podium.
</div>

<div class="blue-page-tagline small">
Policies and Guidelines
</div>

</div>
</div>



<div class="width6">


<div class="row"></div>



<a name="answers">
<div class="completeyourprofile2">
Answers
</div>
<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text-large">
Answers should be truthful and authentic. Incorrect, outdated, or otherwise misleading answers are not helpful.</span></div>

<div class="guidelines-text-small">
Answers should cite sources for data, scientific findings, outside research, or other factual information verifiable by a third party. 
</div>
<hr class="modalline-slide line30"/>

<div style="width:100%;"><span class="guidelines-text-large">
Answers must not contain personal attacks, disrespectful or insulting attacks on the question or other answers, or hate speech.</span></div>

<div class="guidelines-text-small">
Racial, sexual, homophobic, ageist, religious, political, ethnic, or other epithets directed against another contributor.
</div>	

<hr class="modalline-slide line30"/>

<div style="width:100%;"><span class="guidelines-text-large">
Answers must not contain personal attacks, disrespectful or insulting attacks on the question or other answers, or hate speech.</span></div>
</a>

<a name="questions">
<hr class="modalline-slide line30"/>

<div class="completeyourprofile2">
Questions
</div>
<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text-large">
Questions should be truthful and authentic. Incorrect, outdated, or otherwise misleading answers are not helpful.</span></div>

<hr class="modalline-slide line30"/>

<div style="width:100%;"><span class="guidelines-text-large">
Questions must not contain personal attacks, disrespectful or insulting attacks on the question or other answers, or hate speech.</span></div>	
</a>


<hr class="modalline-slide line30"/>

<a name="replies">
<div class="completeyourprofile2">
Replies
</div>
<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text-large">
Questions should be truthful and authentic. Incorrect, outdated, or otherwise misleading answers are not helpful.</span></div>

<hr class="modalline-slide line30"/>

<div style="width:100%;"><span class="guidelines-text-large">
Questions must not contain personal attacks, disrespectful or insulting attacks on the question or other answers, or hate speech.</span></div>	

<hr class="modalline-slide line30"/>
</a>


<div class="row"></div>

</div>



