
<div class="width6">
<style media="screen">
p {font-family: 'roboto', sans-serif; font-size: 14px !important; line-height: 1.3 !important;}
</style>

<div class="sixty"></div>

<%= image_tag ("http://i.imgur.com/gdeWsr4.png") %>

<div class="row"></div>

<div class="completeyourprofile" style="text-align: left;">
Question Policies and Guidelines
</div>
<p>Last updated: October 07, 2014</p>
<hr/>
	

<p><strong>Question Guidelines</strong><p>

<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
</p>



<p>
More recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</p>



</div>

