
<div class="width6">
<style media="screen">
p {font-family: 'roboto', sans-serif; font-size: 16px !important; line-height: 1.3 !important;}
</style>

<div class="sixty"></div>

<div class="logomedium">
<%= image_tag ("https://s3.amazonaws.com/podiumimages/static/podiumlogo.png") %>
</div>

<div class="row"></div>

<div class="completeyourprofile" style="text-align: left;">
Question Policies and Guidelines
</div>
<p>Last updated: October 07, 2014</p>
<hr/>
	

<p style="font-size: 16px !important;">
• There should be no duplicate questions. Please look to see if the question has been asked before you post it.
<br>
• Questions should be as open-ended as posssible. 
<br>
• Questions should be asked in an attempt to gain information not to make a point. 
<br>
• Questions may be edited for (but not limited to) grammer, spelling, puncuation and conciseness.
<br>
<br>
<strong>Questions that do not comply may be deleted at any time by Podium editors.</strong>
</p>





</div>

