<div class='blue-page'>

<%= link_to root_path do %>
<div class="about-back">

<div class="orange-back">
<i class="fa fa-long-arrow-left" style="color: white; margin-left: 0px;"></i>
</div>
<div class="orange-back-text">
Home
</div>

</div>
<% end %>

<div class="width6">

<div class="blue-page-logo-small">
Podium.
</div>

<div class="blue-page-tagline small">
Policies and Guidelines
</div>

</div>
</div>



<div class="width6">


<div class="row"></div>



<a name="answers">
<div class="completeyourprofile2">
Answers
</div>
<hr class="modalline-slide"/>

<a name="respond-to-question">
<div style="width:100%;"><span class="guidelines-text-large">
Answers should directly respond to the question.</span></div>

<div class="guidelines-text-small">
Add comments about questions or other answers to their respective comment sections, not as a new answer.
</div>
</a>
<hr class="modalline-slide line30"/>
<a name="factual-answers">
<div style="width:100%;"><span class="guidelines-text-large">
Answers should be factual. Incorrect, outdated, or misleading answers are not helpful.</span></div>

<div class="guidelines-text-small">
Answers should cite sources for data, scientific findings, outside research, or other factual information verifiable by a third party. 
</div>	
</a>

<hr class="modalline-slide line30"/>
<a name="respectful-answers">
<div style="width:100%;"><span class="guidelines-text-large">
Answers must be respectful. No personal or insulting attacks on the question or other answers.</span></div>
<div class="guidelines-text-small">
Racial, sexual, homophobic, ageist, religious, political, ethnic, or other epithets directed against another contributor.
</div>	
</a>
<hr class="modalline-slide line30"/>
<a name="spelling-punctuation">
<div style="width:100%;"><span class="guidelines-text-large">
Answers should be written with correct spelling, punctuation, and grammar, and sentence capitalization.</span></div>
<div class="guidelines-text-small">
Use paragraphs and subheadings to break up large blocks of text. This improves readability.
</div>	
<div class="guidelines-text-small">
Use numbers in square brackets (e.g., [1]) to denote footnotes.
</div>	
</a>

</a>

<a name="questions">
<hr class="modalline-slide line30"/>

<div class="completeyourprofile2">
Questions
</div>
<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text-large">
Questions should be clearly written</span></div>
<div class="guidelines-text-small">
Use paragraphs and subheadings to break up large blocks of text. This improves readability.
</div>	
<hr class="modalline-slide line30"/>

<div style="width:100%;"><span class="guidelines-text-large">
Questions are stronger if they are phrased neutrally, ask for information and ask why</span></div>
<div class="guidelines-text-small">
Questions are stronger if they are phrased neutrally and minimise presuppositions.
</div>	
<div class="guidelines-text-small">
Questions are stronger if they do not contain assumptions. In particular, they should not imply false information.
</div>	
<hr class="modalline-slide line30"/>


<div style="width:100%;"><span class="guidelines-text-large">
Questions are viewed as community property</span></div>	
</a>
<div class="guidelines-text-small">
Your name will not be attached any questions you ask.
</div>

<hr class="modalline-slide line30"/>

<a name="replies">
<div class="completeyourprofile2">
Replies
</div>
<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text-large">
Replies to an answer can:</span></div>
<div class="guidelines-text-small">
Ask for clarification about an element (or all) of the answer.
</div>
<div class="guidelines-text-small">
Disagree with and/or debate the answer.
</div>
<div class="guidelines-text-small">
Suggest ways to improve the answer
</div>


<hr class="modalline-slide line30"/>

<div style="width:100%;"><span class="guidelines-text-large">
Replies should not be insulting or confrontational. </span></div>	

<hr class="modalline-slide line30"/>
</a>


<div style="width:100%;"><span class="guidelines-text-large">
These policies and guidelines will continue to be updated. </span></div>	

<hr class="modalline-slide line30"/>

<div class="row"></div>

</div>



