<% if user_signed_in? %>
you're logged in!
<% else %>
<div class="center hero-unit">
    <h1>Welcome to my app! </h1>
    <p> 
        blah blah blah
     </p>

    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>