<style>
p { font-family: pragmatica-web, sans-serif; font-size: 1em; color: rgba(51,51,51,0.5); line-height: 1.45;}

</style>


<div class='blue-page'>

<%= link_to root_path do %>
<div class="about-back">

<div class="orange-back">
<i class="fa fa-long-arrow-left" style="color: white; margin-left: 0px;"></i>
</div>
<div class="orange-back-text">
Home
</div>

</div>
<% end %>

<div class="width6">

<div class="blue-page-logo-small">
Podium.
</div>

<div class="blue-page-tagline small">
Sharing the world's stories.
</div>

</div>
</div>

<div class="width6">

<div class="large-para-width"><span class="large-para"> 
<strong>Terms of Service</strong>
<br>
Last updated: October 9, 2014
</span>
</div>

<hr/>







<p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the  http://www.readpodium.com website (the "Service") operated by Podium ("us", "we", or "our").</p>

<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

<hr/>
<p><strong>Accounts</strong></p>

<p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

<p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

<p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>    

<hr/>

<p><strong>Use Restrictions</strong><p>

<p>Your permission to use the Site is conditioned upon the following Use Restrictions and Conduct Restrictions: You agree that you will not under any circumstances:
·    post any information that is abusive, threatening, obscene, defamatory, libelous, or racially, sexually, religiously, or otherwise objectionable and offensive;
·    use the service for any unlawful purpose or for the promotion of illegal activities;
·    attempt to, or harass, abuse or harm another person or group;
·    use another user’s account without permission;
·    provide false or inaccurate information when registering an account;
·    interfere or attempt to interfere with the proper functioning of the Service;
·    make any automated use of the system, or take any action that we deem to impose or to potentially impose an unreasonable or disproportionately large load on our servers or network infrastructure;
·    bypass any robot exclusion headers or other measures we take to restrict access to the Service or use any software, technology, or device to scrape, spider, or crawl the Service or harvest or manipulate data; or
·    publish or link to malicious content intended to damage or disrupt another user’s browser or computer.</p>


<hr/>

<p><strong>Posting and Conduct Restrictions</strong><p>


<p>When you create your own personalized account, you may be able to provide (“User Content”).  You are solely responsible for the User Content that you post, upload, link to or otherwise make available via the Service.  You agree that we are only acting as a passive conduit for your online distribution and publication of your User Content.  The Company, however, reserves the right to remove any User Content from the Service at its discretion.
The following rules pertain to User Content. By transmitting and submitting any User Content while using the Service, you agree as follows:
·    You are solely responsible for your account and the activity that occurs while signed in to or while using your account;
·    You will not post information that is malicious, false or inaccurate;
·    You will not submit content that is copyrighted or subject to third party proprietary rights, including privacy, publicity, trade secret, etc., unless you are the owner of such rights or have the appropriate permission from their rightful owner to specifically submit such content; and
·    You hereby affirm we have the right to determine whether any of your User Content submissions are appropriate and comply with these Terms of Service, remove any and/or all of your submissions, and terminate your account with or without prior notice.
You understand and agree that any liability, loss or damage that occurs as a result of the use of any User Content that you make available or access through your use of the Service is solely your responsibility.  The Company is not responsible for any public display or misuse of your User Content.  The Company does not, and cannot, pre-screen or monitor all User Content.  However, at our discretion, we, or technology we employ, may monitor and/or record your interactions with the Service.</p>

<hr/>

<p><strong>Copyright Complaints and Copyright Agent</strong><p>

<p>(a) Termination of Repeat Infringer Accounts.  The Company respects the intellectual property rights of others and requests that the users do the same.  Pursuant to 17 U.S.C. 512(i) of the United States Copyright Act, the Company has adopted and implemented a policy that provides for the termination in appropriate circumstances of users of the Service who are repeat infringers.  The Company may terminate access for participants or users who are found repeatedly to provide or post protected third party content without necessary rights and permissions.</p>

<p>
(b) DMCA Take-Down Notices.  If you are a copyright owner or an agent thereof and believe, in good faith, that any materials provided on the Service infringe upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (see 17 U.S.C 512) (“DMCA”) by sending the following information in writing to the Company’s designated copyright agent at <strong>copyright@readpodium.com</strong>:</p>
 

<p>
The date of your notification; 
<br>
A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; 
<br>
A description of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; 
<br>
A description of the material that is claimed to be infringing or to be the subject of infringing activity and information sufficient to enable us to locate such work; 
<br>
Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and/or email address; 
<br>
A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; 
<br>
A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. </p>

<hr/>

<p><strong>License Grant</strong></p>

<p><strong> "Content" </strong> means any information, text, graphics, or other materials uploaded, downloaded or appearing on the Service.</p>

<p>By posting any Content via the Service, you expressly grant, and you represent and warrant that you have a right to grant, to us, a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, publicly perform, publicly display, and make derivative works of all such Content and your name, voice, and/or likeness as contained in your Content, if applicable, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Service.</p>

<hr/>

<p><strong>Links To Other Web Sites</strong></p>

<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Podium.</p>

<p>Podium has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Podium shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

<hr/>

<p><strong>Termination</strong></p>

<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

<p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

<p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

<hr/>

<p><strong>Governing Law</strong></p>

<p>These Terms shall be governed and construed in accordance with the laws of Ontario, Canada, without regard to its conflict of law provisions.</p>

<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

<hr/>

<p><strong>Changes</strong></p>

<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

<p style="font-size: 85%; color: #999;">With permission from TermsFeed.com</p>

<hr/>

<div class="large-para-width"><span class="large-para"> 

Question? <%= link_to "Contact us", contact_path, class: "blue", style: "text-decoration: underline !important;" %>.</span></div>

</div>



</div>
