<div class="visible-desktop hidden-phone hidden-tablet">
<div class="learnmore">
Around the web
</div>
<div class="floatright">
<%= link_to 'See all links', post_links_path(@post), class: "red" %>
</div>


<% @links.each do |link| %>
<div class="newspaper10">	
<a href="<%= link.URL %>"> <%= link.description %> </a> 
</div>


<% end %>
</div>

<div class="visible-phone visible-tablet">
<div class="span10">
<div class="row">

<div class="learnmore">
<%= link_to 'More on this event', post_links_path(@post) %>
</div>

<hr/>

</div>
</div>
</div>
