<hr/>
<div class="visible-desktop hidden-phone hidden-tablet">

	
<%= link_to 'Around the web', post_links_path(@post), class: "blue" %>


</div>

<div class="visible-phone visible-tablet">
<div class="span10">
<div class="row">

<div class="learnmore">
<%= link_to 'More on this event', post_links_path(@post) %>
</div>

<hr/>

</div>
</div>
</div>
