<div class="visible-desktop hidden-tablet hidden-phone">
<hr/>

<div class="paddingbottom">
<strong>Around the web</strong>
</div>

<% @links.each do |link| %>
<div class="linktext">
<a href="<%= link.URL %>" style="color: #19558d !important;"> <%= link.description %> </a> <br>
</div>

<% end %>
<div class="viewall">
<%= link_to 'View All', post_links_path(@post) %>
</div>
</div>

<div class="visible-phone visible-tablet">
<div class="span10">
<div class="row">

<div class="learnmore">
<%= link_to 'Read more...', post_links_path(@post), class: "blue" %>
</div>


</div>
</div>
</div>
