
<div class="row"></div>

<div class="welcometopodiumtop">
Hey <%= activity.trackable.name %>, Welcome to Podium.
</div>
<div class="welcometopodium">
This is your activity feed where you'll see answers to your questions and comments on your answers. 
</div> 
<div class="row"></div>
<div class="welcometopodiumunderneath">
Want to know more about Podium? <%= link_to "About Podium", about_path, class: "blueopacity10" %>
<br>
Have a question? <%= link_to "Contact Us", contact_path, class: "blueopacity10" %>
</div>


<div class="row"></div>
<hr/>





