
<% if user_signed_in? %> 
<a class="bluecircle white" id="logged-in">+</a>


<div class="fullpage-modal-container">  

  <div class="fullpage-modal" style="display: none;">
<button type="button" class="close-modal-slide" data-dismiss="modal" aria-hidden="true">×</button>
<hr class="modalline-slide" style="margin-top: 0px"/>
  <%= render :partial => "comments/form" %>
</div>
</div>

<% else %>


<div class="bluecircle white" id="login-recommend-add">+</div>


 <div class="blue-slider-position">

<div class="login-recommend-add-div" style="display: none;">
   <div class="blue-slider">
    <button type="button" class="close-twitter" data-dismiss="modal" aria-hidden="true">×</button>
    <%= render :partial => "devise/sessions/new" %>
   </div>
 </div>

</div>

<% end %>



 <script>
$('#logged-in, .close-modal-slide, .modaldeclinebutton').click(function () {
        $('.fullpage-modal').toggle('slide', {
            direction: 'top'
        }, 300);
    });
</script>