
<% if user_signed_in? %> 



<div class="questionnavbar50right">
<a href="#myModal" role="button" class="bluecircle2 white" style="" data-toggle="modal">+</a>
</div>


<!-- Modal -->






  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 
    <button type="button" class="close2" style="color: #018bc6 !important;" data-dismiss="modal" aria-hidden="true">×</button>

<div class="width6">
<div class="modal-header">    
    Ask Question
  </div>
  
    <%= render :partial => "comments/form" %>
  
 </div> 

</div>



<% end %>




<script>
 $(document).ready(function() {
        $('#showmenu').click(function() {
               
                $('.menugrey').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menugrey').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 

</script>