<div class="row"></div>


<hr class="aboveimageline"/>

<% if @topanswers == true %>
<div class="answersnumber">
<%= pluralize(@post.questions.count, 'Answer') %>
</div>
<% else %>
<div class="answersnumber">
<%= pluralize(@post.comments.count, 'Question') %>
</div>
<% end %>

<div class="floatright">
<% if user_signed_in? %> 

<a href="#myModal" role="button" class="fa fa-plus-circle" data-toggle="modal"></a>	
<a href="#myModal" role="button" class="modalaskquestion" data-toggle="modal">Ask Question</a>



<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ask Question</h3>
    <div class="underpodiumhome">
    Please read our guidlines before posting.
    </div>
  </div>

  <div class="modal-body">
    <%= render :partial => "comments/form" %>
  </div>
</div>



<% else %>
<i class="fa fa-plus-circle"></i>
<%= link_to 'Question', new_user_registration_path, class: "modalaskquestion" %>

<% end %>
</div>

<hr class="modalline"/>


<script>
 $(document).ready(function() {
        $('#showmenu').click(function() {
               
                $('.menugrey').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menugrey').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 

</script>