<% if request.path == '/' %>	
<div class="margin-c-dark">
Top Stories
</div>
<% else %>
<%= link_to 'Top Stories', root_path, class: "margin-c" %>
<% end %>



<% if request.path == '/tags/world' %>		
<div class="margin-c-dark">
World
</div>
<% else %>
<a href="/tags/world" class="margin-c"  >World</a>
<% end %>


<% if request.path == '/tags/united-states' %>		
<div class="margin-c-dark">
U.S.
</div>
<% else %>
<a href="/tags/united-states" class="margin-c"  >U.S.</a>
<% end %>


<% if request.path == '/tags/politics' %>		
<div class="margin-c-dark">
Politics
</div>
<% else %>
<a href="/tags/politics" class="margin-c"  >Politics</a>
<% end %>

<% if request.path == '/tags/business' %>		
<div class="margin-c-dark">
Business 
</div>
<% else %>
<a href="/tags/business" class="margin-c"  >Business</a>
<% end %>

<% if request.path == '/tags/technology' %>		
<div class="margin-c-dark">
Technology
</div>
<% else %>
<a href="/tags/technology" class="margin-c" >Technology</a>
<% end %>

<% if request.path == '/tags/science' %>		
<div class="margin-c-dark">
Science
</div>
<% else %>
<a href="/tags/science" class="margin-c"  >Science</a>
<% end %>



