<div class="visible-desktop visible-tablet hidden-mobile">

<div class="postfifty">



<% if request.original_url == 'http://localhost:3000/' %>	
<div class="questionnavbar50home">
Top Stories
</div>
<% else %>
<div class="questionnavbar51b">
<%= link_to "Top Stories", root_path, style: "text-decoration: none !important;", class: "hoverblue" %>
</div>
<% end %>

<% if request.original_url == 'http://localhost:3000/tags/world' %>		
<div class="questionnavbar50home">
World
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/world" style=" text-decoration: none !important;" class="hoverblue"  >World</a>
</div>
<% end %>

<% if request.original_url == 'http://localhost:3000/tags/unitedstates' %>		
<div class="questionnavbar50home">
United States
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/unitedstates" style=" text-decoration: none !important;" class="hoverblue"  >United States</a>
</div>
<% end %>

<% if request.original_url == 'http://localhost:3000/tags/politics' %>		
<div class="questionnavbar50home">
Politics
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/politics" style=" text-decoration: none !important;" class="hoverblue"  >Politics</a>
</div>
<% end %>

<% if request.original_url == 'http://localhost:3000/tags/technology' %>		
<div class="questionnavbar50home">
Technology
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/technology" style=" text-decoration: none !important;" class="hoverblue"   >Technology</a>
</div>
<% end %>


</div>
</div>