<div class="visible-desktop visible-tablet visible-mobile">

<div class="postfifty">

<div class="categoriesborder">

<% if request.path == '/' %>	
<div class="questionnavbar50home">
Top Stories
</div>
<% else %>
<div class="questionnavbar51b">
<%= link_to "Top Stories", root_path, style: "text-decoration: none !important;", class: "hoverblue" %>
</div>
<% end %>

</div>

<% if request.path == '/tags/world' %>		
<div class="questionnavbar50home">
World
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/world" style=" text-decoration: none !important;" class="hoverblue2"  >World</a>
</div>
<% end %>

<% if request.path == '/tags/politics' %>		
<div class="questionnavbar50home">
Politics
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/politics" style=" text-decoration: none !important;" class="hoverblue2"  >Politics</a>
</div>
<% end %>

<% if request.path == '/tags/business' %>		
<div class="questionnavbar50home">
Business & Economy
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/business" style=" text-decoration: none !important;" class="hoverblue2"  >Business & Economy</a>
</div>
<% end %>

<% if request.path == '/tags/technology' %>		
<div class="questionnavbar50home">
Technology
</div>
<% else %>
<div class="questionnavbar51b">
<a href="/tags/technology" style=" text-decoration: none !important;" class="hoverblue2"   >Technology</a>
</div>
<% end %>


</div>
</div>
