<div class="right-element-container">
<div class="small-dividerhead">
Media
</div>

<% @media.each do |comment| %>

<div class="media-layout">
<%= image_tag comment.image %>
</div>

<% end %>


</div>

<div class="row"></div>