<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav"> 

<li><%= link_to "Opinions", post_comments_path(@post)%></li>

<li><%= link_to "Photos", post_pictures_path(@post)%></li>

</div>
</ul>
</div>
