<ul id="questions" data-update-url="<%= sort_post_path(@post) %>">
<% @ordered.each do |question| %>
<%= content_tag_for :li, question do %>

<span class="handle">+</span>
<div class="dragborder">
<div class="row"></div>
<div style="margin-top: 10px;"></div>



<%= render :partial => 'layouts/answersfeed', locals: {question:question} %>


    </div>
  <% end %>
<% end %>
</ul>