<div class="visible-phone hidden-tablet hidden-desktop">


<% @postsmobile.each do |post| %>
<div class="postimagemobile">
<%= image_tag post.image %>
</div>

<div class="titlecontainershowmobile">
<%= link_to (post.title), post_path(post)%> 
</div>

<% if post.comments.count > 0 %>
<div class="postinterviewmargintopmobile">
<div class="postinterviewtextmobile">
Interview
</div>
<% post.comments.limit(2).each do |comment| %>
<% if comment.user.present? %>
<div class="postinterviewtextmobile">
<strong><%= link_to (comment.user.name), post_comment_path(comment.post, comment) %></strong>
<% if post.comments.count > 1 %>
,
<% elsif post.comments.count == 1 %>

<% end %>
</div>
<% end %>
<% end %>

<% if post.comments.count > 2 %>

<div class="postinterviewtextmobile"%>
and <%= pluralize(post.comments.count - 2, 'other') %> 
</div>

<% end %>

</div>
<% else %>
<div class="postinterviewmargintopmobile">
<div class="postinterviewtextmobile"%>
No interviews yet.
</div>
</div>
<% end %>

<hr/>






<% end %>
</div>
