<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span8 centered">
<% @toppost.each do |post| %>
<div class="titlecontainershowtop">
<%= link_to (post.title), post_path(post)%> 
</div>

<div class="eventimagetop">
<%= image_tag post.image %>
</div>

<% end %>
</div>

<% @posts.order('cached_votes_total desc').each do |post| %>

<div class="container">
<div class="row">

<div class='span4 offset2'>
<div class="postimage">
<%= image_tag post.image %>

</div>
</div>

<div class='span4'>
<div class="titlecontainershowb">
<%= link_to (post.title), post_path(post)%> 
</div>
</div>


</div>
</div>

<% end %>


</div>

