<div class="visible-phone hidden-tablet hidden-desktop">

<% @posts.order('cached_votes_total desc').each do |post| %>

<div class="newspaper">
<div class="postimage">
 


<%= image_tag post.image %> 
<%= link_to (post.title), post_path(post), class: "description" %> 
<% if post.comments.count == 1 %>

<div class="info6">
<%= post.comments.count %> Post
</div>
<% else %>

<div class="info6">
<%= post.comments.count %> Posts
</div>

<% end %> 


 </div>
</div>





<% end %>

</div>