<%= div_for(post) do %>

   <div class="description">
        <%= link_to (post.title), post %>
  </div>      
   
  <div class="description2">
    <%= time_ago_in_words(post.created_at) %> ago
  
</div>

<% end %>






