

<div class="grey-banner">

<div class="width5-center capital-title">
Questions
</div>	
<div class="width5-center">


<div class="question-banner-contain">

</div>

<% @questions.each do |question| %>

<div class="question-banner-contain">
<%= question.title %>
</div>


<% end %>

<div class="row"></div>


</div>
</div>