


<% @related.order("created_at desc").limit(1).each do |post| %>

<div class='home-feed-image' style="height: 240px; background-image: url(http://i.imgur.com/aisLBMi.png);">
<div class="darker" style="opacity: 0.8; background-color: #fff;"></div>


<div class="absolutecontainer" style="bottom: 25px;">
<div class="relativecontainer">


<div style="margin-bottom: 25px; font-weight: 700; font-size: 16px;">
Related Story <div style="display: inline; font-weight: 300;">in</div> <div style="display: inline; color: #0882d1;">Sports</div>
</div>

<%= render :partial => 'layouts/stories_feed', locals: {post:post} %>
</div>
</div>


</div>


<% end %>

