<div class="row"></div>
<hr class="dividerline"/>
<div class="dividerhead">
RELATED STORIES
</div>
<div class="row"></div>


<% @related.order("created_at desc").each_with_index do |post, i| %>





<div class="eventfeedimage" style="background-image:  url(<%= post.pictures.first.image %>);">
  <div class="darker" style="opacity: 0.2;"></div>
</div>


<div class="related-overflow">

<div class="eventfeedtitle-text">
<%= link_to (post.title), post_path(post) %>
</div>
<div class="p3">
<%= truncate(post.description, :separator => ' ', length: 110) %>
</div>
<div class="row"></div>
<%= link_to post_path(post) do %>
<div class="link-mouse">
<div class="link-skip-text">
Full story
</div>

<div class="link-skip">
<i class="fa fa-long-arrow-right" style="color: #018bc6; margin-left: 0px;"></i>
</div>  

</div>


<% end %>

</div>
<hr/>
<% end %>