<div class="capital-title">
Related Stories
</div>

<% @related.order("created_at desc").limit(1).each_with_index do |post,i| %>
<%= link_to (post.title.titleize), post_path(post), class: "blue" %>
<% end %>


