

<% @events.each do |event| %>

<div class="timeline-dot">
</div>




<div class="timeline-content">


<div class="timeline-date">
<%= time_ago_in_words(event.created_at) %> ago
</div>


<%= link_to (event.title), post_event_path(event.post, event) %>

<div style="font-size: 16px; font-weight: 500; color: rgba(51,51,51,0.5); margin-top: 4px; line-height: 1.4;">
<%= truncate(event.body, length: 100, separator: ' ') %>
</div>


<div class="row"></div>
</div>



<% end %>


<% if @post.events.count > 0 %>
<div class="timeline-more">
<%= link_to "#{@post.events.count - 2} more events", post_events_path(@post), class: "blue" %>
</div>
<% end %>





