














<% if params[:tag] %>
<div style="background-color: rgba(51,51,51,0.1); padding: 12px 0px 23px 0px;">
<div class="width7">
<div style="font-weight: 700; color: #288bff; font-size: 80px; text-transform: uppercase; ">
<%= params[:tag] %>
</div>
</div>
</div>

<% end %>