
<%= render 'pages/home' %>


<light><h1>In the world</h1></light>
    <div class="well"> 
    <table>
       
        <thead>
            <tr>

                <th>Image</th>
                <th>Description</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <%= render @posts %>
        
        </tbody>

    </table>
 </div>
    <br />

    