


<div id="products">
<%= render 'posts/post' %>
<%= render 'posts/postmobile' %>
<%= render 'posts/posttablet' %>
</div>


<div class="span7 centered">
<div class='white'>
<%= will_paginate @posts, :style => 'color: white !important;' %>
</div>
</div>




    