<% unless user_signed_in? %>
<%= render 'layouts/homebanner' %>
<% end %>


<div id="products">
<%= render 'posts/post' %>
</div>

<%= will_paginate @posts %>



<% if params[:tag] %>
<%= render 'posts/hiddencategory' %>
<% end %>