
<%= render 'layouts/headercategories' %>

<div class="margin30"></div>

<div class="hidden-desktop hidden-tablet visible-mobile">
<%= render 'posts/mobilecategories' %>
</div>

<div class="row"></div>


<div id="products">

<%= render 'posts/post' %>
</div>

<%= will_paginate @posts %>





    