<div class=" span2 offset12">
<%= link_to image_tag('http://i.imgur.com/jcbf7qC.png'), new_post_path %>

</div>




 <%= render @posts %>
<div class="span8 offset1">
 <%= will_paginate @pins %>
</div>

    