<style media="screen">
  .navbar .brand {color: white !important;} 
  .fa-bell-o { color: white !important;}
</style>

<div class="settingsnavtop">

<div class="width6">
<div class="underpodiumhomeguidelinesbig" style="color: white; display: inline;">
New Post
</div>
</div>

<div class="absoluteheader">
<%= render 'layouts/xheader' %>
</div>

</div>



<div class="width6">
<div class="sixty"></div>
<%= render 'form' %>
</div>




