<% unless @post.pictures.count == 0 %>
<style media="screen">
  .imagestripquestions { background-image:  url(<%= @post.pictures.first.image %>); background-color: #333; }
  </style>
<% end %>
<style media="screen">
  .navbar .brand {color: white !important;} 
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
  .fa-bell-o { color: white !important;}

  .alert-danger { opacity: 1 !important; color: white !important;}
</style>


<div class="imagestripquestions">
<div class="darker"></div>


<div class="absoluteheader">
<%= render 'layouts/headerimage' %>
</div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin"> 

<div class="eventimagepreviewtext">
<%= link_to (@post.title), post_path(@post), class: "whiteblue" %>
</div>
<hr class="whiteimageline"/>

</div>
</div>
</div>
</div>


<div class="width6">
  
<div class="row"></div>
<hr style="margin-top: 35px; margin-bottom: 10px !important;"/>	
<div class="dividerhead">
ORDERED ANSWERS
</div>

<%= render 'posts/orderedanswers' %>

</div>