<div class="container">
<div class="row">

<div class="span1">
<div class="newspaper6">
<%= @city %>
</div>
</div>

<div class="span9 offset1">
<% @closepost.each do |post| %>
hello
<% end %>
</div>

</div>
</div>