<% if activity.trackable %>

<div class="experimentname">
You question was deleted by our editors. To see reasons for deleting questions please read our <%= link_to "Question Guidlines", guidelines_path, class: "blue" %>
</div>

<div class="row">

<hr/>

<% end %>