<% if activity.trackable %>

<div class="experimentname3">
You question was edited to...
</div>

<div class="row"></div>

<div class="titlecontainer30" style="font-size: 20px;">
<%= activity.trackable.title %>
</div>

<div class="welcometopodiumunderneath", style="margin-top: 7px;">
To see reasons for the edit please read our <%= link_to "Question Guidlines", guidelines_path, class: "blue", style: "opacity: 1 !important;" %>
</div>

<div class="row"></div>

<hr/>

<% end %>