p {
    
        font-family: 'PT serif', serif;
    font-weight: normal;
    font-size: 20px !important;
    line-height: 1.6; 
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility;
    margin: 0px 0px 20px 0px;
    font-smooth:always;
    opacity: 0.92;
    
    
}