$linkColor: black;
$navbarHeight: 40px;
$btnPrimaryBackground: #B23000;
$btnMediumBackground: #3333CC;
$btnPrimaryBackgroundHighlight: #B23000;

@import 'bootstrap';

@import "bootstrap-responsive";




body{
    
    padding-top: 60px;
    font-weight: normal;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    

}



.navbar .brand{
    
    position: absolute;
    left: 26px;
    color: white;
    font-size: 30px;
    border:1px solid white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: 5px;
    font-weight: bold;
}

.dropdown-backdrop{
    position: static;
}


.icons {
    display: block-line;
}

.navbar navbar-fixed-top {
   
   padding: 0px;
}

.navbar .nav > li > a {
    
    color:  black;
}

.navbar .nav > li > a:hover {
    
    color:  black;
}


.headername {
    font-size: 22px;

}

.headername2 {
    color: #3333CC;
    font-size: 22px;
    border: 1px solid #EEEEEE;
    padding: 2px;
    margin-bottom: 3px;
}
 
 .navbar.transparent.navbar-inverse .navbar-inner {
   border: 0 !important;
   background: rgba(255,255,255,0.90);
   box-shadow: none !important;
  -webkit-box-shadow: none !important;

   

}

.button {
    padding-bottom: 40px;
    color: #B23000;
    font-size: 18px;
    
}

.button2 {
    color: #B23000;
    font-size: 20px;
    float: right;

    
}

.button3 {
   
    opacity: 0.2;
    color: #B23000;
    font-size: 20px;
    border: 1px solid #B23000;
    padding: 5px;
    float: right;
    
}

.button4 {
    color: #B23000 !important;
    font-size: 20px;
    float: right;
    border: 1px solid #B23000;
    padding: 5px;
    
    
}

.button5 {
   
    color: #B23000 !important;
    font-size: 18px;
    border: 1px solid #B23000;
    padding: 5px;
    
    
}

.buttonborder {
    border: 1px solid #B23000;
    padding: 5px;
}

.footer{
    
    position: relative;
    margin-top: 50px;
    color: $grayLight;
    bottom: 0px;
    a{
        color: $gray;
    }
}

.event{
	font-color:red
}


/* Required for jQuery Masonry */










.imgcontainer {
   width: 500px; /* look i'm now showing 5 images per line */
   float: left;
   
  
}

.commentcontainer {
   float: left;
}

.titlecontainer {
    
    color: black;
    font-size: 36px;
    text-align: left;
    padding-bottom: 15px;
    line-height: 110%;
    font-weight: lighter;

}

.titlecontainer2 {
    
    color: #B23000;
    font-size: 40px;
    text-align: left;
    padding-bottom: 15px;
    line-height: 110%;
    font-weight: normal;

}

.titlecontainer3 {
    
    color: #B23000;
    font-size: 26px;
    text-align: left;
    padding-bottom: 15px;
    line-height: 110%;
    font-weight: lighter;

}

.titlecontainer4 {
    
    color: black;
    font-size: 28px;
    text-align: left;
    padding-bottom: 15px;
    line-height: 110%;
    

}

.description {
    
    padding-top: 10px;
    color: white;
    font-size: 32px;
    padding-bottom: 10px;
    line-height: 110%;
    font-weight: lighter;
}

.border{
    border:1px solid #D8D8D8;
    background-color: white ;
    padding: 15px;
    margin: 5px;
    
}


.description2 {
    
    display:inline-block;
    color: grey;
    font-size: 12px;
   
     
    
}

.white {
    color: white;
    text-decoration: none;
    linkColor: red;
}

.description4 {
    
    
    color: grey;
    font-size: 18px;
    border:1px solid white;
    background-color: white ;
    padding-top: 15px;
    

     
    
}



.count{
display: inline-block;
font-size: 18px;


}


.subtitle{
    font-size: 18px;
    padding-bottom: 10px;
    
    

}

#eventhead h1 { 
  
  font-size: 30px; 
  
  
  
} 

#eventhead p2 { 
  text-align: center;
  font-size: 30px; 
  text-color: black
} 

#eventhead p1 { 
  
  font-size: 12px; 
  padding: 10px;
  
} 

.descriptioncontainer {
    width: 400px;
}

.commentcontainer {
    
    
    width: 600px;
    font-size: 26px;
    margin: 10px;
    padding: 10px;
    border:1px solid #D8D8D8;
    background-color: white;

}

.commentshowcontainer {
    
   
    width: 600px;
    font-size: 24px;
    border:1px solid #D8D8D8;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 500px;

}

.usernameshowcontainer {
    padding: 10px;

}

.usernamecontainer {
    
    
    font-size: 18px;
    margin: 10px;
    border:1px solid #D8D8D8;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 150px;

}

.lightcontainer{
    display: inline-block;
    font-size: 18px;
    color: black;
    font-weight: bold;
    
   
}

.lightcontainer2{
    
    display: inline-block;
    font-size: 18px;
    padding-top: 5px;
    
}

.lightcontainer3{
    padding-top: 10px;
    font-size: 10px;
    color: grey;
}

.lightcontainer4{
    
    font-size: 10px;
    color: grey;
    display: inline-block;
}


.lightcontainer5{
    
   font-size: 18px;
   color: #B23000;
}


.lightcontainer6{
    
    font-size: 10px;
    color: grey;
}


.lightcontainer7{
    
    
    font-size: 12px;
    font-weight: bold;
    
    
   
}


.lightcontainer8{
    
   font-size: 24px;
    color: grey;
    font-weight: bold;
    
    
   
}
.lightcontainer9{
    font-size: 10px;
    color: grey;
}

.lightcontainer10{
    padding-top: 10px;
    display: inline-block;
    font-size: 10px;
    color: grey;
    float: right;
    padding-right: 5px;
}

.questioncontainer {

    
    font-color: black;
    font-size: 30px;
    line-height: 110%;
    padding-bottom: 10px;
    

    
    
}

.thirty {
    width: 50%;
    float: left;
    display:inline-block;
}

.questioncontainer2 {

    font-color: black;
    font-size: 32px;
    padding-bottom: 3px;
    line-height: 110%;
    font-weight: lighter;
    
    
    
    
}

.questioncontainer3 {
float: right;
    
    
    
}

.questioncontainer4 {    
    
    font-color: black;
    font-size: 32px;
    padding-top: 20px;
    line-height: 110%;
    font-weight: lighter; 
}

.featuredquestions {

font-size: 18px;

    
}


.descriptioncontainer2{
   
    
    font-color: black;
    padding-bottom: 15px;
    font-size: 18px; 
    
    


}

.descriptioncontainer2b{
   
    
    
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px; 
    


}

.descriptioncontainer3 {
   
    float: left;
    width: 30%;
    font-color: black;
    padding: 15px;
    border: 1px solid #D8D8D8;
    background-color: white;
    font-size: 16px; 
}


.featuredanswers{

float: left;
border: 1px solid #D8D8D8;
background-color: white;
width: 500px;

}


.answercontainer2{
   

    
    
    font-color: black;
    font-size: 18px;
    line-height: 140%;

    
}

.verifiedanswer {

    
    font-color: black;
    font-size: 18px;
    line-height: 140%;
    
}
.body{
    font-size: 20px;
    line-height: 140%;
    
}


.underanswercontainer2{
    padding-top: 5px;
    padding-bottom: 0px;
    
    font-size: 12px;
    color: grey;
}

.besideanswercontainer2{
    
    text-align: right;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    

}


.blue{
    color: #3333CC !important;

}

.blue2{
    color: grey;
    font-size: 16px;
    padding-top: 10px;
    font-weight: normal;
    

}
.answertitle  {
     color: #3333CC;
     font-size: 16px;
    
}  
   
    


    
    


.answercontainer{
    
    font-size: 12px;
    color: #B23000;
    font-weight: light;
    float: right;
    padding: 4px;

}

.editorspickscontainer{
    float: right;
    border:1px solid #D8D8D8;
    background-color: white;
    width: 300px;
    height: 600px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.imgheadcontainer {
   padding: 5px;
   border:1px solid #D8D8D8;
   background-color: white;
   width: 60%;
   height: 30%;
   

}


.imggreensquarecontainer {
    
}

.imggreensquarecontainer img{
    height: 50px;
    width: 50px;
    float: left;
}



    

.imgindex img {
    width: 900px;
}

.headimg {
    float: right;
    margin-top: 0px;
}
    



hr { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
margin-top: 10px; 
margin-bottom: 10px;
padding: 0px; 
}

.hr2 { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;
margin-top: 2px;
margin-bottom: 2px;
 }

.hr3 { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #B23000;
margin-top: 2px;
margin-bottom: 2px;
 }


.floatright {
    float: right;
}

.red {
    color: #B23000;
}

.darkgrey {
    color: #625D5D;
    font-weight: bold;
    
}


/////////Simple Form
.form{


   

}
.form2{
border:1px solid white;
    
}



.first {
    font-size: 20px; 
    color: grey;
    
    
    
}
.first2 {
     
    color: grey;
    padding-bottom: 10px;
    
    font-weight: bold;
    color: #B23000;
    
}
.first3 {
     
    color: grey;
    padding-bottom: 10px;
    font-weight: bold;
    color: #B23000;
    
}

.topimage{
    padding-bottom: 40px;
}
.toptitle{
    font-size: 42px;
    line-height: 110%;
}


.margin{
    margin-left: 3px;
}

.number {
    padding-top: 5px;
    font-size: 24px;
    padding-bottom: 40px;
    
}

.number2 {
    padding-top: 5px;
    font-size: 22px;
    padding-bottom: 20px;
    
}


.q {
    
    font-size: 18px;
    
}







.padding {
    padding-bottom: 30px;
}




.green {
    color: green;
}



.simple_form div.input {
  
  background-color: white;
}

.simple_form div.input:focus {
    border: 1px solid white !important; 
}

.create {
    
    border:1px solid #eeeee;
    resize: none;
    
}

.twitter-share-button{
    color: blue;
}


.info {
    display:inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    
    
}

.infob {
    display:inline-block;
    font-size: 16px;
     
   
    
}


.info2 {
    
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE;  
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 5px;
    
    
}


.info3 {
    font-size: 20px;
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE; 
    padding: 15px;
    
}


.info4 {
    font-size: 18px;
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE; 
    
    
}

.info5 {
    font-size: 18px;
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE; 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.info6 {
    display:inline-block;
    font-size: 22px;
    border:1px solid #B23000;
    color: #B23000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
}

.info7 {
    display:inline-block;
    font-size: 18px;
    border:1px solid #B23000;
    color: #B23000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
    
}



.background {
  border:1px solid #E8E8E8;
  background-color: #E8E8E8; 
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  
}

.background2 {
  border:0px solid #E8E8E8;
  background-color: #E8E8E8; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;

}

.margin3 {
    margin-top: 10px;
}


.x {
    font-size: 30px;
    color: #B23000 !important;
    text-decoration: none !important;
   

}



.border5 {
    border:1px solid black;
    padding: 15px;
    margin: 10px;
}

.blackborder {
  padding-bottom: 5px;
  
}

.questionnumber {
    
    font-size: 22px;
    color: #B23000;
    padding-bottom: 10px;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
}


.formbackground {
border:1px solid grey;
  background-color: white;
  padding: 10px;
    
}


.headtext {
    font-size: 34px;
    display: inline-block;


}

.firstanswer {
    
    font-weight: lighter;
    font-size: 22px;
    color: grey;
    padding-bottom: 10px;

}

.borderleft2{
border-left:1px solid #EEEEEE;
padding-left: 10px;


}



#pins {
  margin: 0 auto;
  
}

.paddinglefthome .visible-desktop {
    
}

#pin {
  margin: 0 auto;
  
}

.box {
  margin: 5px;
  width: 440px;

}

.box img {
  width: 100%;
  height: 250px;
}



.commentimage img {
    height: 250px;
    width: 100%;
}






/*Media Queries*/
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    .box {
        width: 440px;
    }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    .box {
        width: 500px;
    }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    .box {
        width: 600px;
        
    }
}
 
@media only screen 
and (max-width : 599px),
only screen and  (max-device-width : 599px){
    .box {
        width: 340px;
    }
}
 
@media only screen and (max-device-width : 399px),
only screen and (max-device-width : 399px){
    .box {
        width: 330px;
    }
}

.boxtwo {
 margin: 5px;
 width: 400px;
 
}

////////////////////
@media only screen and (max-device-width : 568px),
only screen and (min-width : 320px)
{
    .boxtwo {
        width: 300px;
    }
}
 
//////////////////




.bordertop {
    border-top: 1px solid #EEEEEE;

}


.newspaper {
    
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 15px;
    
}

.home {
    padding: 10px;
}
.redline {
    border-left: 2px solid  #B23000;
    padding-left: 3px;
}

.newspaper2 {
    border: 1px solid #EEEEEE;
    padding: 15px;
    margin: 0px;
}
.newspaper3 {
    display:inline-block;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 5px;
    margin-right: 3px;
    
}

.newspaper4 {
    border: 1px solid #EEEEEE;
    padding: 3px;
    display: inline-block;
    margin-bottom: 5px;
}

.newspaper5 {
    border: 1px solid #EEEEEE;
    padding: 3px;
    margin-bottom: 5px;
}

.newspapernumber {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: white;
    font-size: 38px;
    padding: 30px;
}

.homepadding {
    padding-left: 50px;
}


.paddingleft2 {
padding-left: 60px;
}


.margintop {
   margin-top: 68px;
   padding: 10px;
}
.margintop2 {
  
   padding: 10px;
}
.displayinlineblock {
display:inline-block;
}

.fifty {
    display: inline-block; 
    vertical-align: top;
    min-width: 100%;
    

}

.fifty2 {
    width: 100%;
    

}


.answerbio{
    color: grey;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 3px;
    font-weight: normal;
    

}

.italic {
    font-style:italic;
}

.clear { 
   clear: both;
}
