$linkColor: black;
$btnPrimaryBackground: #B23000;
$btnMediumBackground: #3333CC;
$btnPrimaryBackgroundHighlight: #B23000;
$baseBorderRadius: 0;
$placeholderText: #bebebe;



@import 'bootstrap';

@import "bootstrap-responsive";

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: black !important;
    box-shadow: none !important;
    

}

body .modal {
    /* new custom width */
    border-radius: 0;
    fade: false;
    

    
}



.btn-primary {
    display: inline-block;
    vertical-align: top;
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #B23000;
    background-color: #B23000;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    filter: none;
}


.btn-primary:hover {
    border: 2px solid #8e2600;
    background-color: #8e2600;
    color: white;
}


.btn {

   background-image: none !important;
   background-color: #bebebe !important;
   box-shadow: none !important;
   color: white !important;
   float: right !important;
   font-size: 15px !important;
   text-shadow: none !important;
   vertical-align: middle !important;
   padding-bottom: 18px !important;
   padding-left: 18px !important;
   padding-right: 18px !important;
   padding-top: 18px !important;
   border: 0px solid white !important;


}

.navbar .btn {
    margin-top: 0px !important;
}

ul.wysihtml5-toolbar { 
    
    float: right !important;

}

.headermargin {
    margin: 20px;
}



.navbar .btn-navbar .icon-bar {
    background-color: black !important;

    
}

.modal.fade {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.modal-header {
    font-size: 18px;
}


h3 {
    font-size: 18px;
}


textarea {
    
    
    font-color: black;
    box-shadow: none !important;
    border-color: #EEEEEE;
    
}


label {
    
    color: black;
    font-size: 14px; 
    
    
}

placeholder {
    color: black !important;
}


body{
    letter-spacing: -0.02em;
    line-height: 1.1; 
    font-weight: normal;
    font-size: 20px;
    font-family: nimbus-sans, sans-serif !important;
    color: black;

}



p {
    
    
    font-weight: normal;
    font-size: 19px !important;
    line-height: 1.5; 
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-family: "ff-tisa-pro", serif !important;
}

@media screen and (max-width: 500px) 
{ 

p {
    font-size: 18px !important
}

}



.whitebrand {
    color: white !important;
    font-size: 20px;
    background-color: black;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    border-radius: 0px !important;
    border: 0px solid white;
    width: 100% !important;
    font-weight: bold;
    margin: 0px !important;
    
}

.brand {


    
    font-size: 28px !important;
    border:1px solid white;
    font-weight: bold !important;
    background-color: white;
    color:  black !important;
    vertical-align: middle;
    padding-top: 10px !important;
    
}

.brandmobile {


    
    font-size: 28px !important;
    font-weight: bold !important;
    background-color: white;
    color:  black !important;
    margin-top: 20px !important;
    
    
}

.userlink {
    padding-top: 20px !important;
    font-weight: bold;
}

.navbar .brand {
    margin-left: 0px !important;
    
}

.headtext {
    color:  black !important;
    border-right: 1px solid #EEEEEE;
    padding-right: 5px;
    font-weight: bold;
    font-size: 16px !important;
}

.headtext2 {
    color:  black !important;
    font-weight: bold;
    font-size: 16px !important;

}

 .navbar.transparent.navbar-inverse .navbar-inner {
   border-bottom: 0px solid #eeeeee !important;
   background: #EEEEEE;
   box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-top : 3px solid #a03600;
   
}

.navbar navbar-fixed-top {
   
   padding: 0px;
}

.navbar .nav > li > a {
    
    color:  black;
}

.navbar .nav > li > a:hover {
    
    color:  black;
}



.headername {
   
    color: black !important;
    background-color: #bebebe !important;
    width: 100% !important;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;


}

.headername:hover {
    
    color: #19558d !important;
 
}

.blueheader {
    color: #19558d;
    text-decoration: none !important;
}

.headerbutton {

    color: black !important;
    background-color: #bebebe !important;
    width: 100% !important;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
   
}

.headerbutton:hover {
    
    color: #19558d !important;
 
}


 
 .navbar.transparent.navbar-inverse .navbar-inner {

   background: white;
   box-shadow: none !important;
  -webkit-box-shadow: none !important;

   

}

.button {
    padding-bottom: 40px;
    color: #B23000;
    font-size: 18px;
    
}

.button2 {
    color: #B23000;
    font-size: 20px;
    float: right;

    
}

.button3 {
     text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    float: right;
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
  
    
    
}

.button4 {
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #f26531;
    background-color: #f26531;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.logoutbutton {
     text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #bebebe;
    background-color: #bebebe;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-top:10px;
}

.logoutbutton:hover {
    opacity: 0.5;
}

.underbutton {
    margin-bottom: 20px;
}

.underbutton2 {
    margin-bottom: 75px;
}

.button4:hover {
  opacity: 0.5;
   
}


.button5 {
    display: inline-block;
    vertical-align: top;
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #f26531;
    background-color: #f26531;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;

    
}

.questionbutton {
    font-weight: bold;
    color: #19558d;
    font-size: 18px !important;
    background-color: white !important;
    border: 0px !important;
    padding: 5px !important;
    margin-top: 5px !important;
    text-align: center;

}

.fullorange {
    vertical-align: top;
    text-decoration: none !important;
    color: white !important;
    font-size: 17px;
    border: 0px solid #F68620;
    background-color: #F68620;
    padding: 10px;
    text-align: center;


}

.fullorange:hover {
    opacity: 0.5;
}

.orange {
    
    color: #f26531;
}
.button5:hover {
  opacity: 0.5;
    
}

.button5blue {
   
    display: inline-block;
    color:#B23000 !important;
    font-size: 18px;
    border: 3px solid #B23000;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.button5blue:hover {
  background-color: #B23000;
  color: white !important;
    
}


.button7 {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    color: #003399 !important; 
    margin-bottom: 10px;
    

}
.myButton {
   margin-top: 20px; 
}

.cancel {
    text-decoration: none !important;
    display: inline-block;
    color: black !important;
    font-size: 15px;
    border: 2px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: bottom;

}

.cancel:hover {
   
  text-decoration: none !important;
}

.viewall {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    color:  #19558d !important;
    font-size: 11px;
    border: 0px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 2px;
    font-weight: bold;
    

}



.addeventbutton {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    color:  #19558d !important;
    border: 0px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    
}


.favouritebutton {
    color: black !important;
    border: 0px solid #eeeeee;
    background-color: #eeeeee; 
    padding: 7px;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    float: right;
    margin-top: 15px;
}

.favouritebuttonleft {
    color: black !important;
    border: 0px solid #eeeeee;
    background-color: #eeeeee; 
    padding: 7px;
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
    margin-top: 15px;
}

.favouritebuttontb {
    color: black !important;
    border: 0px solid #eeeeee;
    background-color: #eeeeee; 
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px !important;
    margin-top: 15px !important;

  
}



.favouritebuttonmargin {
    margin-top: 50px;
}


.favouritebutton:visited {
    opacity: 0.5;
}

.blueblue {
    margin-top: 20px;
    color: #006aa0 !important;
    background-color: white !important;
    border: 0px solid white !important;
    padding: 0px !important;
    font-size: 16px;
}



.squaregreybutton {
    border: 0px solid white;
    background-color: #EEEEEE;
    padding: 7px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.squareredbutton {
    border: 0px solid white;
    background-color: #f26531;
    padding: 7px;
    text-decoration: none !important;
    color: white !important;
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    float: right;
    
    
    
}


.marginbottom20 {
 margin-bottom: 20px;   
}


.squareredbutton:hover {
   opacity: 0.5;
}

.buttonborder {
    border: 1px solid #B23000;
    padding: 5px;
}




.footer{
    
    position: relative;
    margin-top: 50px;
    color: $grayLight;
    bottom: 0px;
    a{
        color: $gray;
    }
}

.event{
        font-color:red
}


/* Required for jQuery Masonry */










.imgcontainer {
   width: 500px; /* look i'm now showing 5 images per line */
   float: left;
   
  
}

.commentcontainer {
   float: left;
}

.titlecontainer {
    
    color: black;
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 20px;

}

.titlecontainermobile {
    
    color: black;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 20px;
    
   

}


.titlecontainershow {
    
    color: black;
    font-size: 36px;
    line-height: 110%;
    border-left: 10px solid #a03600;
    padding-left: 20px;

    
}


.titlecontainershowmobile {
    
    color: black;
    font-size: 28px;
    line-height: 110%;
    border-left: 5px solid #a03600;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
 
    
    
}


.titlecontainershowtablet {
    
    color: black;
    font-size: 28px;
    line-height: 110%;
    border-left: 10px solid #a03600;
    padding-left: 20px;
  
   
    
    
}


.titlecontainershowtablet2 {
    
    color: black;
    font-size: 26px;
    line-height: 110%;
    border-left: 10px solid #a03600;
    padding-left: 20px;

   
    
    
}


.titlecontainershowtop {
    
  
    color: black;
    font-size: 30px;
    line-height: 110%;
    border-left: 10px solid #a03600;
    padding-left: 20px;
    margin-bottom: 30px;
 
    
    
}



.titlecontainershownolink {
    
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 110%;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 10px;
    
    
}



.titlecontainershowb {
     color: black;
    font-size: 36px;
    line-height: 110%;
    border-left: 10px solid #a03600;
    padding-left: 20px;

}

.titlecontainershowc {
     color: black;
    font-size: 32px;
    line-height: 110%;
    border-left: 10px solid #a03600;
    padding-left: 20px;

}


.titlecontainerb {
    
    color: black;
    font-size: 18px;
    line-height: 110%;
    font-weight: 700;
    font-weight: bold;
}

.titlecontainer2 {
    color: black;
    font-size: 24px;
    line-height: 110%;
    padding-bottom: 5px; 
    padding-top: 20px;
   

}




.titlecontainer5 {
    
    
    font-size: 18px;
    padding-bottom: 15px;
    line-height: 110%;
    color: grey;
    
    

}

.description {
    
    
    color: black;
    font-size: 32px;
    line-height: 110%;
    font-family: Open Sans, sans-serif !important;
    display: inline-block;
    font-weight: bold;
    
}



.descriptiontop {
    
     
    background: rgba(0,0,0,0.7);
    position: absolute;
    font-size: 42px;
    line-height: 105%;
    padding: 30px;
    color: white;
    top: 0 ;
    bottom: 0 ;

    
    
}

.descriptiontop:hover {

   color: #19558d !important;
   text-decoration: none;
    
}

.descriptiontop2 {
    
     
    background: rgba(0,0,0,0.7);
    position: absolute;
    font-size: 40px;
    line-height: 105%;
    padding: 30px;
    color: white;
    top: 0 ;
    bottom: 0 ;
 
    
    
}

.floatleft {
    float: left;
}

.fontsize20 {
    font-size: 19px;
    line-height: 105%;

}



.border{
    border:1px solid #D8D8D8;
    background-color: white ;
    padding: 15px;
    margin: 5px;
    
}


.description2 {
    
    background: rgba(0,0,0,0.4);
    position: absolute;
    font-size: 26px;
    line-height: 105%;
    padding: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;

   
     
    
}

.description2:hover {

   color: white !important;
   text-decoration: none;

    
}


.white {
    color: white;
    text-decoration: none;
    linkColor: red;
}

.description4 {
    
    
    color: grey;
    font-size: 18px;
    border:1px solid white;
    background-color: white ;
    padding-top: 15px;
    

     
    
}



.text{

font-size: 15px;


}


.subtitle {
    padding-bottom: 10px;
}



#eventhead h1 { 
  
  font-size: 30px; 
  
  
  
} 

#eventhead p2 { 
  text-align: center;
  font-size: 30px; 
  text-color: black
} 

#eventhead p1 { 
  
  font-size: 12px; 
  padding: 10px;
  
} 

.descriptioncontainer {
    width: 400px;
}

.commentcontainer {
    
    
    width: 600px;
    font-size: 26px;
    margin: 10px;
    padding: 10px;
    border:1px solid #D8D8D8;
    background-color: white;

}

.commentshowcontainer {
    
   
    width: 600px;
    font-size: 24px;
    border:1px solid #D8D8D8;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 500px;

}

.usernameshowcontainer {
    padding: 10px;

}

.usernamecontainer {
    
    
    font-size: 18px;
    margin: 10px;
    border:1px solid #D8D8D8;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 150px;

}

.lightcontainer{
    
    font-size: 10px;
    color: grey;
    padding-bottom: 2px;

    
   
}



.lightcontainerlink {
    
    font-size: 10px;
    padding-bottom: 5px; 
}

.lightcontainer2{
    
    display: inline-block;
    font-size: 18px;
    padding-top: 5px;
    
}

.lightcontainer3{
    padding-top: 10px;
    font-size: 10px;
    color: grey;
}

.lightcontainer4{
    
    font-size: 10px;
    color: grey;
    display: inline-block;
}


.lightcontainer5{
    
   font-size: 18px;
   color: #B23000;
}


.lightcontainer6{

   font-size: 12px;
   color: grey;
   display: inline-block;
   
   
 
    
}


.lightcontainer6b {
   padding-bottom: 10px;
   font-size: 10px;
   color: black;
   
   
 
    
}


.lightcontainer7 {
   
   padding-top: 5px; 
   padding-bottom: 10px;
   font-type: italic;
   color: #b7b7b7;
    
   
}



.lightcontainer8{
    
   font-size: 24px;
    color: grey;
    font-weight: bold;
    
    
   
}
.lightcontainer9{
    font-size: 10px;
    color: grey;
}

.lightcontainer10{
    padding-top: 10px;
    display: inline-block;
    font-size: 15px;
    
    padding-right: 5px;
}

.lightcontainer11{
  
    font-size: 15px;
    
    padding-bottom: 5px;
}

.questioncontainer {

    
    font-color: black;
    font-size: 22px;
    line-height: 110%;
    font-weight: bold;
    margin-bottom: 10px;
    
    
}

.questioncontainertop {

    
    font-color: black;
    font-size: 30px;
    line-height: 110%;
    font-weight: bold;
    margin-bottom: 20px;
    
   

    
    
}

.mobilequestioncontainer {

    
    font-color: black;
    font-size: 22px;
    line-height: 110%;
    font-weight: bold;
    margin-bottom: 10px;
    
    
}

.mobilepadding {
    margin-bottom: 30px;
}

.mobilepadding5 {
    margin-top: 5px;
}

.questionmargin {
    margin-left: 15px;
    margin-right: 15px;
}



.thirty {
    width: 50%;
    float: left;
    display:inline-block;
}

.questioncontainer2 {

    font-color: black;
    font-size: 26px;
    padding-bottom: 10px;
    line-height: 110%;
    
    
    
    
    
}

.questioncontainer3 {
    font-color: black;
    font-size: 16px;
    
    
}

.questioncontainer4 {    
    
    font-color: black;
    font-size: 32px;
    
}



.descriptioncontainer2b{
   
    
    
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 15px; 
    


}

.descriptioncontainer3 {
    font-color: black;
    padding-bottom: 5px;
    font-size: 15px; 
    line-height: 140%; 
 
}


.featuredanswers{

float: left;
border: 1px solid #D8D8D8;
background-color: white;
width: 500px;

}


.answercontainer2{
   

    
    
    font-color: black;
    font-size: 18px;
    line-height: 140%;

    
}

.verifiedanswer {

    
    font-color: black;
    font-size: 18px;
    line-height: 140%;
    
}
.body2{
    font-size: 20px;
    line-height: 140%;
    
}

.grey {
    color: #b7b7b7 !important;
}


.underanswercontainer2{
    padding-top: 5px;
    padding-bottom: 40px;
    font-size: 12px;
    color: grey;
}

.besideanswercontainer2{
    
    text-align: right;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    

}


.blue{
    color: #006aa0 !important;
    display: inline-block;

}

.blueopaque {

   opacity: 0.4;
   color: #19558d !important;
   display: inline-block;
    
}

.blue2{
    padding-top: 10px;

}


.answertitle  {
     color: #3333CC;
     font-size: 15px;
    
}  
   
    
.paddingbottom {
    padding-bottom: 10px;
}

    
    


.answercontainer{
    
    font-size: 12px;
    color: #B23000;
    font-weight: light;
    float: right;
    padding: 4px;

}

.editorspickscontainer{
    float: right;
    border:1px solid #D8D8D8;
    background-color: white;
    width: 300px;
    height: 600px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.imgheadcontainer {
   padding: 5px;
   border:1px solid #D8D8D8;
   background-color: white;
   width: 60%;
   height: 30%;
   

}


.imggreensquarecontainer {
    
}

.imggreensquarecontainer img{
    height: 50px;
    width: 50px;
    float: left;
}



    

.imgindex img {
    width: 900px;
}

.headimg {
    float: right;
    margin-top: 0px;
}
    



hr { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
margin-top: 30px; 
margin-bottom: 30px;
padding: 0px; 
}

.hr2 { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;
margin-top: 2px;
margin-bottom: 2px;
 }

.hr3 { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #B23000;
margin-top: 2px;
margin-bottom: 2px;
 }


hr4 {
 display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
margin-top: 5px; 
margin-bottom: 5px;
padding: 0px; 
    
}

hr5 {
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
padding-bottom: 10px;
    
}

hr6 {
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
margin-top: 40px; 
margin-bottom: 40px;
padding: 0px; 

}

hr7 {
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
margin-top: 25px; 
margin-bottom: 25px;
 

}



.floatright {
    float: right;
}

.red {
    color: #a03600 !important;

}

.redinlineblock {
    color: #B23000 !important;
    display: inline-block;
}

.red2 {
    padding-top: 20px;

}

.darkgrey {
    color: #625D5D;
    font-weight: bold;
    
}


/////////Simple Form
.form{


   color: grey;

}
.form2{
border:1px solid white;
    
}



.first {
    font-size: 20px; 
    color: grey;
    
    
    
}
.first2 {
     
    color: grey;
    padding-bottom: 10px;
    
    font-weight: bold;
    color: #B23000;
    
}
.first3 {
     
    color: grey;
    padding-bottom: 10px;
    font-weight: bold;
    color: #B23000;
    
}

.topimage{
    padding-bottom: 40px;
}
.toptitle{
    font-size: 42px;
    line-height: 110%;
}


.margin{
    margin-left: 3px;
}

.number {
    padding-top: 5px;
    font-size: 18px;
    padding-bottom: 0px;
    
}

.number2 {
    
    font-size: 16px;
    
    
}


.q {
    
    font-size: 18px;
    
}







.padding {
    padding-bottom: 30px;
}




.green {
    color: green;
}



.simple_form div.input {
  
  background-color: white;
}

.simple_form div.input:focus {
    border: 1px solid white !important; 
}

.hello {
    
    
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin-bottom: 20px !important;
    font-family: source-sans-pro, sans-serif !important;
    width: 80% !important;
    font-size: 28px !important;
    color: black;
    display: inline-block !important;

}

.hello2 {
    
    
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: source-sans-pro, sans-serif !important;
    width: 80% !important;
    font-style: italic;
    color: #b7b7b7;


}


.hello3 {
    
    
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: ff-meta-serif-web-pro, serif !important;
    width: 80% !important;
    font-size: 19px !important;
    color: black;


}

.hello4 {
    
    
  
    resize: none;
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin-left: none !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 8px !important;
    margin-bottom: 2px !important;
    font-family: Open Sans, sans-serif !important;
    width: 100% !important;
    font-size: 17px !important;
    color: black !important;
    box-shadow: none !important;


}

.hello5 {
    
    border: 0px solid #EEEEEE !important;
    resize: none;
    background-color: #EEEEEE;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    color: black;
    
}

.hellogrey {
    
    resize: none;
    border: 0px solid white !important;
    padding: 0px !important;
    width: 100% !important;
    font-family: proxima-nova-condensed, sans-serif !important;
    font-weight: bold !important;
    font-size: 26px !important;
    color: black !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    letter-spacing: -0.02em;
    line-height: 1.1;


}

.hellobio {
      border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "nimbus-sans",sans-serif;
    width: 100% !important;
    font-size: 15px;
    color: black;
    text-align: center;
}

.hellobio2 {
      border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "nimbus-sans",sans-serif;
    width: 100% !important;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.alert-info {
    border: 0px solid white !important;
    color: black !important;
    background-color: #EEEEEE !important;
    text-align: center;
    position: fixed;
    top: 0;
    
}

.button.close {
   
}



.wysihtml5 {
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
    width: 100% !important;
}


.create {
    border: 1px solid #EEEEEEE;
    resize: none;
}



.twitter-share-button{
    color: blue;
}

.paddingleft {
   padding-right: 20%; 
}

.info {
    display:inline-block;
    font-size: 15px;
    padding-top: 10px;
    
    
    
    
}

.infob {
    display:inline-block;
    font-size: 16px;
     
   
    
}


.info2 {
    
    display:inline-block;
    font-size: 15px;
    padding-top: 30px;
    
    
}


.info2b {
    
    
    font-size: 15px;
    padding-top: 10px;
    
    
}





.info4 {
    font-size: 18px;
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE; 
    
    
}

.info5 {
    
    font-size: 16px;
    color: white;
    font-weight: bold;
     
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    right: 10px;

   
}

.info6 {
    
    display:inline-block;
    color: white;
    background-color: #006aa0;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
   

   

}


.info7 {
   
    display:inline-block;
    color: white;
    background-color: #a03600;
    padding: 7px !important;
    font-size: 18px;
    position: absolute;
    top: 0;
    
    

}

.viewallposts {
    display:inline-block;
    font-size: 11px;
    border: 0px solid #EEEEEE;
    background-color: #EEEEEE; 
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
    

}




.background {
  border:1px solid #E8E8E8;
  background-color: #E8E8E8; 
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  
}

.background2 {
  border:0px solid #E8E8E8;
  background-color: #E8E8E8; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;

}

.margin3 {
    margin-top: 10px;
}


.x {
    float: left;
    font-size: 30px;
    color: #B23000 !important;
    text-decoration: none !important;
    

}



.border5 {
    border:1px solid black;
    padding: 15px;
    margin: 10px;
}

.blackborder {
  padding-bottom: 5px;
  
}

.questionnumber {
    
    font-size: 22px;
    color: #B23000;
    padding-bottom: 10px;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
}


.formbackground {
border:1px solid grey;
  background-color: white;
  padding: 10px;
    
}


.headtext {
    font-size: 34px;
    display: inline-block;


}

.firstanswer {
    
    font-weight: lighter;
    font-size: 22px;
    color: grey;
    padding-bottom: 10px;

}

.borderleft2{
border-left:1px solid #EEEEEE;
padding-left: 10px;


}



#pins {
  margin: 0 auto;
  
}



#pin {
  
  
}

.box {
  
  width: 50%;
  float: left;

}




.commentimage img {
    height: 170px;
    width: 100%;
    padding-bottom: 10px;
    
}

.commentimage2 img {
    height: 300px;
    width: 100%;
    padding-bottom: 10px;
}




/*Media Queries*/
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    .box {
        width: 50%;
    }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    .box {
        width: 50%;
    }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    .box {
        width: 50%;
        
    }
}
 


.boxtwo {
 
 margin-bottom: 20px;
 width: 49%;
 
}

////////////////////
@media only screen and (max-width : 2000px),
only screen and (max-device-width : 2000px){
    .boxtwo {
        width: 50%;
    }
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    .boxtwo {
        width: 100%;
    }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    .boxtwo {
        width: 100%;
    }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    .boxtwo {
        width: 600px;
        
    }
}
 
@media only screen 
and (max-width : 599px),
only screen and  (max-device-width : 599px){
    .boxtwo {
        width: 340px;
    }
}
 
@media only screen and (max-device-width : 399px),
only screen and (max-device-width : 399px){
    .boxtwo {
        width: 330px;
    }
}
 
//////////////////

.boxthree {
 margin: 5px;
 
 
}


.bordertop {
    border-top: 1px solid #EEEEEE;

}


.newspaper {
    border: 0px solid #EEEEEE;
   
   
    
}




.newspapertop {
    border: 0px solid #EEEEEE;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px; 
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: 725px;

}


.newspapertop::after {
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.newspapertop2 {
    border: 1px solid #EEEEEE;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px; 
    margin-bottom: 10px; 
    width: 725px;
    margin-bottom: 10px;

}


.topimage {
    display: inline-block;
}




.newspaperm {
    border: 1px solid #EEEEEE;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
   
    
}

.newspaperb {
    border: 1px solid #EEEEEE;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    
   
    
}



.home {
    padding: 10px;
}
.redline {
    border-left: 2px solid  #B23000;
    padding-left: 3px;
}

.newspaper2 {

    margin-bottom: 30px;
   

    
}



.newspaper2b {
    border: 1px solid #EEEEEE;
    padding: 15px;
    margin-bottom: 10px;
}

.newspaper3 {
    
    border: 1px solid #EEEEEE;
    padding: 5px;
    margin-bottom: 5px;

    
}

.newspaper4 {
    border: 1px solid #EEEEEE;
    padding: 3px;
    display: inline-block;
    margin-bottom: 5px;
}

.newspaper10 {
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
    
    margin-bottom: 5px;
}


.newspaper5 {
    border: 1px solid #EEEEEE;
    padding: 3px;
    margin-bottom: 5px;
}


///////////sidebar//////////////////////////////////
.newspaper6 {
    

    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

.newspaper6:hover {
    text-decoration: none !important;
}

.white {
    color: black !important;
}

.white:hover {
    text-decoration: none !important;
}

.newspaper6:hover {
   



}

.hrleft {
    padding-left: 5px;
}

.newspaper6b {
    
    border: 1px solid #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    
    
}

.sidebar {
    border: 1px solid #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 10px;

}

.addevent {
   
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    background-color: #b7b7b7;
    padding: 5px;
    

}

.addevent2 {
    opacity: 0.2;
    border: 1px solid #B23000;
    background-color: #B23000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 5px;
    font-size: 18px;
    

}


//////////////////////////////////////////////////////
.mobilesidebar {
    display: inline-block;
    font-size: 20px;
    border: 1px solid #EEEEEE;
    padding: 5px;
    margin-bottom: 5px;

}

.margintopp {
    margin-top: 5px;
}

.tagtext {
    
    font-size: 20px;
    color: black;

}

.newspapernumber {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: white;
    font-size: 38px;
    padding: 30px;
}

.homepadding {
    padding-left: 50px;
}


.paddingleft2 {
padding-left: 60px;
}


.margintop {
   margin-top: 68px;
   padding: 10px;
}
.margintop2 {
  
   padding: 10px;
}
.displayinlineblock {
display:inline-block;
}



.fifty2 {
    width: 100%;
    

}


.answerbio{
    color: grey;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 3px;
    font-weight: normal;
    

}

.italic {
    font-style:italic;
}

.clear { 
   clear: both;
}

.fixed {
    position: fixed;
}

.white {
    color: white !important;
}


.belowsidebar {
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
    
}

.belowsidebar2 {
    
   
    font-size: 12px;
    text-align: left;
}

.paddingtopuser {
    padding-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}




///////////////////////////////////

.redborder {


}

.redborder2 {
margin-bottom: 0px;

}

.logo {
    display: inline-block;
    color: white;
    font-size: 30px;
    border:1px solid white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-weight: bold; 
}

.logotext {

 font-size: 26px;
 font-weight: bold;
 color: black;
 margin-bottom: 20px;
 text-align: center;
    
}

.logotext2 {

 font-size: 18px;
 color: black;
 font-weight: bold;
 padding: 20px;
 text-align: center;
    
}

.font22 {
  
padding-top: 10px;
font-size: 18px;
line-height: 110%;
  
}

.besideformtext {

padding-top: 10px;
font-size: 22px;
line-height: 110%;
    
}

.learnmore {
    
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.learnmore2 {
    display: inline-block;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    padding-top: 20px;
    
    
}

.learnmore3 {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    
    
    
}

.link {
   
    margin-bottom: 5px;
    color: black;
    font-size: 15px;

    
    
}
.line {
    border-left: 2px solid #EEEEEE;
    padding-left: 15px;
}

.line2 {
    border-right: 1px solid #EEEEEE;
    padding-right: 15px;
}

.upvotes {
    color: #B23000;
    font-size: 16px;
    display: inline-block;
    padding: 6px;
    font-weight: bold;
}

.upvote {
   
    font-size: 16px;
    display: inline-block;
   
}

.facebook {
    border: 1px solid #EEEEEE; 
    display: inline-block;
    
}

.facebook img {
    height: 50px; 
    width: 50px;
}


.twitter {
text-align:center;
    
}


.margin5 {
    padding-left: 5px;
    
}

.paddingtop {
    padding-top: 20px;
}



.editpadding {
    
    padding-bottom: 15px;
}


.paddingside {
    margin-right: 10%;
}


.linktext2 {
    display: inline-block;
    color: grey;
    padding-bottom: 5px;
}

.descriptionaddevent {
    
    font-size: 21px;
    padding: 5px;
    line-height: 110%;
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;

}


.form-signin{
  border-color: white;
  
}

.displayinlineblock {
    display: inline-block;
}




.aboutimage img {
    height: 180px;
    width: 341px;
}

.aboutbox {
    width: 349px;
}

.aboutpadding {
    padding-top: 100px;
}

.aboutpadding2 {
    padding-top: 120px;
}
 
.aboutpadding3 {
    padding-top: 50px;
}


.aboutpaddingleft {
    padding-left: 50px;
}

.aboutpaddingbottom {
    padding-bottom: 10px;
}

.aboutlinkpadding {
    margin-top: 80px;
}

.aboutlink {
    text-decoration: none !important;
    
    text-align: center;
    border: 2px solid #EEEEEE;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: #B23000;
}

.aboutlink:hover {
    text-decoration: none !important;
    background-color: #EEEEEE;
}

.screenshot img {
    width: 644px;
    height: 255px;
}

.fontsize16 {
    font-size: 15px;
}



.allquestions {
    padding-top: 25px;
    font-weight: bold;
}

.allquestions2 {
    padding-top: 10px;
    font-weight: bold;
}

.questionborder {
    border: 1px solid #EEEEEE;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}


.username {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;

}

.usernametext {
    font-size: 16px;
    font-weight: bold;
    display: inline-block
}

.usernametext2 {
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

.usernamelinks {
    padding-bottom: 5px;

}

.usernamepadding {
    
    padding-top: 15px;
    padding-bottom: 20px;
}

.return {
    display: inline-block;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.center {
    
    float: none;
    margin: 0 auto;
}

[class*="span"].centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}


.blackbackground {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 10px;
}



.redhead {
    background-color: #b23000;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 10px;
}

.aboutheadtext {
    text-align: center;
    color: white;
    font-size: 26px;
}

.greyhead {
    background-color: #EEEEEE;
    padding: 20px;

}


.logohead {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 30px;
    margin: 0 auto;

}

.logotexthead {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;
}


.darkgreyhead {
    background-color: grey;
    padding: 10px;
    margin-top: 114px;
}

.verticalalignmiddle {
    vertical-align: middle;
}

pull-left{
    float:left;

}

.loadmorebutton {
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 38%;
    padding-right: 37.5%;
    font-size: 18px;
    
    margin-top: 30px;
    text-align: center;
}

.loadmorebutton:hover {
    text-decoration: none;
    color: #b23000 ;
}

.margintopbutton {
    margin-top: 30px;
}

.center {
    text-align: center;
}


.paddingtop15 {
    padding-top: 15px;
}

.paddingleft {
    padding-left: 30px;
}

.userimage {
 
   position: relative;
  
}

.userimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 140px;
    margin-bottom: 20px;
    border-radius: 70px;

}

.usernametext2 {
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
}


.userimage2 img {
   
    height: 100px;
    width: 100px;
    float: left;
margin-right: 15px;
}

.userimage3 {
 
   position: relative;
  
}

.userimage3 img {
     display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;

}

.noposts {
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
}


.userimageborder {
    border: 1px solid #EEEEEE;
    height: 175px;
    padding: 10px;
}

.userpadding {
    padding-top: 10px;
}



.button10::-webkit-file-upload-button {
  visibility: hidden;
}
.button10:before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.button10:hover:before {
  border-color: black;
}
.button10:active:before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.readmorepadding {
    
    padding-top: 40px;
}



.postimage img {
    
    
    height: 200px;
width: 100%;
float: left;
margin-bottom: 70px;
    

}

.postimagetablet img {
    
    
height: 160px;
width: 100%;
float: left;
margin-bottom: 50px;
    

}

.postimagemobile img {
    
    
    height: 200px;
width: 100%;
float: left;
padding-bottom: 20px;
    

}

.counttext {
    font-size: 24px;
    display: inline-block;
}

.postimage img:hover {
  -webkit-filter: grayscale(0%);  
}

.postimagetop {
  border: 0px solid #EEEEEE; 
    display: block;
    position: relative;  
    

}

.postimagetop img {
    width: 100%;
    -webkit-filter: blur(4px);
-moz-filter: filter(value);
-o-filter: filter(value);
-ms-filter: filter(value);
box-shadow: none !important;
shadow: none !important;


}

.eventimage img {
    
    width: 100%;
    height: 340px;

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
.eventimage img {
    width: 100%;
    height: 265px;
}
}

@media (min-width 980px) and (max-width: 1024px) {
  .eventimage img {
    width: 100%;
    height: 265px;
  }
}

.eventimagetop img {
    
    width: 100%;
    height: 340px;
    margin-bottom: 70px;
}

.eventimagetoptablet img {
    
    width: 100%;
    height: 265px;
    margin-bottom: 70px;
}


.eventimagetop {
    
}

.eventimage2 img {
    
    width: 100%;
    height: 230px;
    
}

.eventimage2 img {
    position: relative;
    display: block;
}



.eventimagetablet img {
    height: 160px;
    width: 270px;
}



.eventimagetablet {
    border: 0px solid #EEEEEE; 
    display: block;
    position: relative;  
    width: 270px;

}


.eventimage::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}




.eventshowimage {
    border: 0px solid #EEEEEE; 
    display: block;
    position: relative;
    width: 100%;
    min-height: 170px;

     
}

.eventshowimage::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


.circle img {

width: 100px;
height: 100px;
border-radius: 50px;
float: left;
margin-right: 20px;

}

.circlemobile img {

width: 100px;
height: 100px;
border-radius: 50px;
display: block;
margin: 0 auto;


}

.circleb img {
width: 80px;
height: 80px;
border-radius:0px;
font-size:20px;
color:#fff;
line-height:100px;
background:#000;
text-align: right;
float: left;
margin-right: 15px;
border-radius: 40px;
}



.circle2 img {
width: 100px;
height: 100px;
border-radius:0px;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000;

}




.textbottom {
    vertical-align: bottom;
    display: inline-block;
}


.circlehead img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;

}

.circlecomment img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
}

.circlecomment {
    margin-right: 15px;
     display: inline-block;
    float: left;
}

.circlecommentmobile2 img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
}

.circlecommentmobile2 {
    margin-bottom: 15px;
     
}


.circlecommentmobile img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
    border-radius: 45px;
    vertical-align: text-bottom !important;
}


.circlecomment2 img {
    width: 50px;
    height: 50px;
    margin-left: 60px;
    display: inline-block;
    border-radius: 25px;
}

.circlecomment2mobile img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
}

.circlecomment2mobile {
      margin-right: 15px;
     display: inline-block;
    float: left;
  
   
}


.circlecomment2 {
      margin-right: 15px;
     display: inline-block;
    float: left;
  
   
}

.commentmargin10 {
    padding-top: 20px;
}

.attempt {
   overflow: hidden;
   
}

.attempt2 {
   overflow: hidden;
   padding-left: 10px;
}

.circlemobile img {
width: 80px;
height: 60px;
border-radius:0px;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000;

}

.descriptionshow {
    color: black;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;


    padding-bottom: 15px;
    border: 0px solid white;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
}

.centertext {
    text-align: center;
}

.underline {
    margin-bottom: 20px;
}



.questionnew {
    float: right;
    display: inline-block;
    font-weight: strong;
    color: #b7b7b7 !important;

}


.usernameback {
  
    margin-top: 10px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;

}


.map img {
    width: 100%;
    height: 150px;
}

.maptext {
    font-weight: bold;
    padding-bottom: 10px;
}


.greyevent {
    background-color: #EEEEEE;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;

    
    
}


.greyevent2 {
    background-color: #EEEEEE;
    padding: 5px;
    margin-bottom: 5px;

    
    
}

.greyeventbottom {
   
    padding: 10px;
    background-color: #EEEEEE;
    margin-top: 5px;
    
}

.greyeventbottomtablet {
   
    padding: 10px;
    background-color: #EEEEEE;

    
}

.greyeventmobile {
    background-color: #EEEEEE;
     padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;

    
    
}


.greyeventbottommobile {
   
    padding: 5px;
    background-color: #EEEEEE;
    margin-top: 5px;
    
}


.greyeventbottomright {
    padding: 10px;
    background-color: #EEEEEE;
    margin-top: 5px;



    
    
}


.loginborder {
    border: 1px solid #EEEEEE;
    padding: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    display: block;
}

.addimage {

  padding: 10px;
  background-image: url(http://i.imgur.com/E2qNkzW.png);
  background-repeat: no-repeat;
  border: none;
  position: relative;

}

.addimage2 {
    position: relative;
}

.greyeventsummary {
    background-color: #EEEEEE;
    padding: 10px;
    font-size: 18px;
    

}


.thumbnailtwo img {

 width: 25%;
 height: 50px;
 float: left;
 
}

.thumbnailtwo {
    display: inline-block;
    float: left;
}


.greybio {
    

    background-color: #EEEEEE;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: bold;
}

.thumbnail img {
    width: 70px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.time {
    color: black;
    position: absolute;
    padding: 10px;
    background-color: rgba(255,255,255,0.7);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-decoration: none !important;

    
    
}

.time:hover {
    background-color: rgba(255,255,255,0.4);
}

.time2 {
     position: absolute;
     bottom: 0;
     font-weight: bold;
     padding: 10px;
     text-decoration: none !important;
}



.useralign {
    text-align: center;
}

.commentimage img  {
    
    width: 100%;
    height: 120px;
    
    

}

.commentimage {
     border: 0px solid #EEEEEE; 
    display: block;
    position: relative;
   
}

.commentquestion {
    padding-bottom: 5px;
    font-size: 26px;
  
    
}

.commentquestionmargin {
    margin: 40px;
}

.commentquestionbox {

    padding-top: 5px;
    padding-bottom: 5px;
    width: 70px;
    text-align: center;
    background-color: #F68620;
    color: white;


}

.boxtext {
    font-weight: bold;
    font-size: 18px;
}

.boxtext2 {
    font-weight: bold;
    font-size: 12px;
}

.commentquestionanswer {
   
}

.lightcontainercomment {
    
     font-size: 10px;
     color: grey;
     
}

.commentquestionuser {
    font-size: 12px;
    color: grey;
}

.questionlink {
    
    color: #555555;
    background-color: #EEEEEE;
    padding-left: 5px;
    padding-right: 81%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none !important;


}

.questionlink:hover {
    color: #555555;
    cursor:text;
}

.questionlinkpadding {
    padding-top: 30px;
}

.countcommentquestion {
    padding-bottom: 10px;
}

.questionname {
    margin-top: 20px;
}

.greysubtitle {
    font-style: italic;
    font-weight: bold;
}

.namepadding {
    padding-top: 20px;
    word-wrap:break-word;
    font-weight: bold;
}


.mobilesubtitle {
    font-style: italic;
    margin-bottom: 10px;
}


.mobilepadding10 {
    margin-top: 10px;
}

.mobilepadding20 {
    margin-top: 20px;
}


.twitterlogin {
    border: 1px solid #bebebe;
    background-color: #bebebe;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 110%;
    margin-bottom: 10px;
}

.twitterblue {
    color: white;
    text-decoration: none !important;
}

.twitterblue:hover {
    color: white;
}

.twitterbird img {
    height: 30px;
    width: 40px;
    margin-bottom: 10px;
}

.previewimage img {
    height: 150px; 
    width: 170px;
}

.previewimage2 img {
    width: 60%;
    height: 220px;
    position: relative;
    top: 0;
}

.previewimage {
    border: 0px solid white !important;
}

.imagediv {
    position:  absolute;
}

.addimage img {
    width: 100%;
}

.addimage {
    border: 0px solid #EEEEEE; 
    display: block;  
    position: absolute;
    top: 0;

}


.opaquepic {
    opacity: 0.2;
    display: inline-block;
}

label {
    color: #bebebe !important;

}

.label2 {
    font-size: 14px;
    color: #bebebe;
    margin-bottom: 5px;
}

.profileborder {
    border-left: 1px solid #EEEEEE;
    padding-left: 10px;
}

.tablettag {
    display: inline-block;
    margin-right: 3px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #bebebe;
    padding: 10px;
    font-weight: bold;
}



.hi {
    font-weight: bold;
}
.usershoweventimage img {
    height: 66px;
    width: 100px;
    display: inline-block;
}

.usershoweventtext {
   float: left;
    color: #bebebe;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
    display: block;

}

.numberofposts {
    display: inline-block;

color: #19558d;
font-size: 20px;
margin-bottom: 20px;

}

.descriptionmargin {
    margin-bottom: 20px;
}

.countrymargin {
    
    margin-bottom: 5px;
}

.namemargin {
    margin-top: 20px;
}

.namemargin2 {
    margin-top: 50px;
}

.favouritemargin{
    margin: 7px;
}

.realgrey {
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.realgrey2 {
    color: black;
    font-size: 12px;
  display: inline-block;
}

.realgrey3 {
    color: #006aa0;
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
}

.realgreyb {
    color: #006aa0;
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

.eventmargin {

    
    font-size: 18px;
    font-weight: bold;
}

.eventmargin2 {
    padding-top: 50px;
    display: inline-block;
}


.aboveimage {
    padding-bottom: 10px;
}

.margintest {
    float: left !important;
    float: right !important;
}

.center {
    margin: 0 auto;
}

.toplight {
    
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 15px;
    display: inline-block;
}

.toplight2 {

    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 5px;

}

.lightname {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}


.eventpage img {
    width: 200px; 
    height: 120px;
    float: left;
    margin-right: 10px;
    }

.eventpage {
    
    display: inline-block;
    float: left
}

.eventimageright {
    overflow: none;

}

.marginal {
    margin: 10px;
}

.attempt2 {
    margin-left: 60px;
}

.padding10 {
    padding-top: 20px;
}

.font18 {
    font-size: 18px;
}

.eventtoptext {
    
    
    border-left: 8px solid #a03600;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 22px;
    font-weight: bold;

}


.eventtoptextmobile {
    
    
    border-left: 5px solid #a03600;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;


}

.eventtoptextmargin {
    padding-top: 10px;
}

.eventtoptext2 {
    
    
    border-left: 8px solid #a03600;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 24px;
    font-weight: bold;
}


.nameblueside {
    font-size: 20px;
    display: inline-block;
    font-weight: bold;

}

.nameblueside2 {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;

}

.namebluesidemargin {
    padding-bottom: 20px;
}

.namebluesidemobile {
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
    display: inline-block;
    text-align: center;

}

.blueanswer {
    padding-top: 10px;
    font-weight: bold;
    color: #006aa0;
    font-size: 14px;
}


.fakeenter {
    color: grey;

}

.fakeenter:hover {
    text-decoration: none !important;
}




.interviewbanner img {
    width: 100%;
    height: 280px;
    display: block;
margin-left: auto;
margin-right: auto;
}

.interviewbanner {
    margin-bottom: 50px;
    position: relative;
}

.bluename {
    display: inline-block;
}

.verticalalignmiddle {
    vertical-align: bottom;
    display: inline-block;
}

.bannerpreviewimage {
    width: 100%;

}

.addbannerimage {
    background-image: url("http://i.imgur.com/cks6uPN.png");
    position: absolute;
    top: 0;
}

.margin130 {
    margin-left: 130px;
}

.timeright {
    float: right;
    font-size: 16px;
    padding-bottom: 10px;
    
}

.timeright2 {
    float: right;
    font-size: 16px;
    padding-bottom: 10px;
    
}

.aboveimage2 {
    padding-bottom: 30px;
}


.lightnamepreview {
    margin-bottom: 10px; 
    font-weight: bold;

}

.lightnamepreviewlight {
    display: inline-block;
}

.countheader {
   
    margin-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-weight: bold;
}



.postinterviewmargin {
    padding-left: 30px;
    margin-top: 15px;
    overflow: hidden;
}

.postinterviewmargintop {
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}

.postinterviewmargintopmobile {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}

.postinterview img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    vertical-align:text-top;
}

.postinterviewtop img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    vertical-align:text-top;
}


.postinterviewtext {
    
    font-size: 17px;
    display: inline-block;
    
}

.postinterviewtext2 {
    

    margin-left: 5px;
    font-size: 17px;
    display: inline-block;
    
}

.postinterviewtextmobile {
    
    font-size: 16px;
    display: inline-block;
    
    
}

.postinterviewmargin {
    
    margin-bottom: 30px;
}


.countheader2 {
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 600;
}