$linkColor: black;
$navbarHeight: 35px;
$btnPrimaryBackground: #B23000;
$btnMediumBackground: #3333CC;
$btnPrimaryBackgroundHighlight: #B23000;
$baseBorderRadius: 0;



@import 'bootstrap';

@import "bootstrap-responsive";

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: black !important;
    box-shadow: none !important;
    

}

body .modal {
    /* new custom width */
    border-radius: 0;
    fade: false;
    

    
}

.btn-primary {
    display: inline-block;
    vertical-align: top;
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #B23000;
    background-color: #B23000;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    filter: none;
}


.btn-primary:hover {
    border: 2px solid #8e2600;
    background-color: #8e2600;
    color: white;
}


.btn {

   background-image: none !important;
   border: 1px solid #EEEEEE !important;
   background-color: white !important;
   box-shadow: none !important;
   color: #555555 !important;
   font-family: 'Roboto', sans-serif;
   float: right !important;
   font-size: 15px !important;
   margin: 0px !important;
   margin-right: 0px !important;
   text-shadow: none !important;

}

ul.wysihtml5-toolbar { 
    
    float: right !important;

}

.btn:hover {
    border: 1px solid #B23000 !important;
}

.navbar .btn-navbar .icon-bar {
    background-color: #b23000 !important;

    
}

.modal.fade {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.modal-header {
    font-size: 18px;
}


h3 {
    font-size: 18px;
}


textarea {
    
    
    font-color: black;
    box-shadow: none !important;
    border-color: #EEEEEE;
    
}


label {
    
    color: black;
    font-size: 14px; 
    
    
}

placeholder {
    color: black !important;
}


body{
    
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: normal;
    font-size: 15px;
    font-family: "nimbus-sans",sans-serif;
    
    

}

p {
    
    
    font-weight: normal;
    font-size: 15px;
      
}



.navbar .brand{
    
    color: white;
    font-size: 28px;
    border:1px solid #B23000;
    background-color: #B23000;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin-left: 0px;
    height: 100%;

}


.brand:hover {
    border:1px solid #8e2600;
    background-color: #8e2600; 
}

.dropdown-backdrop{
    position: static;
}


.icons {
    display: block-line;
}

.navbar navbar-fixed-top {
   
   padding: 0px;
}

.navbar .nav > li > a {
    
    color:  black;
}

.navbar .nav > li > a:hover {
    
    color:  black;
}


.headername {
    font-size: 18px;
    border: 1px solid #EEEEEE;
    color: black !important;
    font-family: 'Roboto', sans-serif;
}

.headername:hover {
    border: 1px solid #B23000;
    background-color:#B23000 !important; 
    color: white !important;
 
}

.headerbutton {
    border: 1px solid white;
    background-color: white !important;
    font-size: 18px;
    color: black !important;
    font-family: 'Roboto', sans-serif;
}

.headerbutton:hover {
    border: 1px solid #B23000;
    background-color:#B23000 !important; 
    color: white !important;
 
}


 
 .navbar.transparent.navbar-inverse .navbar-inner {
   border: 0 !important;
   background: #EEEEEE;
   box-shadow: none !important;
  -webkit-box-shadow: none !important;

   

}

.button {
    padding-bottom: 40px;
    color: #B23000;
    font-size: 18px;
    
}

.button2 {
    color: #B23000;
    font-size: 20px;
    float: right;

    
}

.button3 {
     text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    float: right;
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
  
    
    
}

.button4 {
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #B23000;
    background-color: #B23000;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;

}

.underbutton {
    margin-bottom: 20px;
}

.underbutton2 {
    margin-bottom: 75px;
}

.button4:hover {
    border: 2px solid #8e2600;
    background-color: #8e2600;
   
}


.button5 {
    display: inline-block;
    vertical-align: top;
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #B23000;
    background-color: #B23000;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    
}

.button5:hover {
    border: 2px solid #8e2600;
    background-color: #8e2600;
    color: white;
    
}

.button5blue {
   
    display: inline-block;
    color:#B23000 !important;
    font-size: 18px;
    border: 3px solid #B23000;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.button5blue:hover {
  background-color: #B23000;
  color: white !important;
    
}


.button7 {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    color: #003399 !important; 
    margin-bottom: 10px;
    

}

.cancel {
    text-decoration: none !important;
    display: inline-block;
    color: black !important;
    font-size: 15px;
    border: 2px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    vertical-align: bottom;

}

.cancel:hover {
   
  text-decoration: none !important;
}

.viewall {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    color:  #19558d !important;
    font-size: 11px;
    border: 0px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 2px;
    font-weight: bold;
    

}

.addeventbutton {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    color:  #19558d !important;
    border: 0px solid #EEEEEE;
    background-color: #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    
}


.favouritebutton {
    display: inline-block;
    vertical-align: top;
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    border: 2px solid #19558d;
    background-color: #19558d;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    float: right;
}

.squaregreybutton {
    border: 0px solid white;
    background-color: #EEEEEE;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
}

.squareredbutton {
    border: 0px solid white;
    background-color: #B23000;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
     text-decoration: none !important;
    color: white !important;
    font-size: 16px;
}

.squareredbutton:hover {
   background-color: #8e2600; 
}

.buttonborder {
    border: 1px solid #B23000;
    padding: 5px;
}




.footer{
    
    position: relative;
    margin-top: 50px;
    color: $grayLight;
    bottom: 0px;
    a{
        color: $gray;
    }
}

.event{
        font-color:red
}


/* Required for jQuery Masonry */










.imgcontainer {
   width: 500px; /* look i'm now showing 5 images per line */
   float: left;
   
  
}

.commentcontainer {
   float: left;
}

.titlecontainer {
    
    color: black;
    font-size: 24px;
    line-height: 110%;
    font-weight: bold;
    margin-bottom: 20px;
    

    

}

.titlecontainershow {
    
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 110%;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 10px;
    
    
}

.titlecontainershow:hover {
    background-color: rgba(255,255,255,0.4);
    text-decoration: none !important;
}

.titlecontainershownolink {
    
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 110%;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 10px;
    
    
}

.time {
    color: black;
    position: absolute;
    bottom: 0;
    padding: 10px;
    
}


.titlecontainershow2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 110%;
}

.titlecontainerb {
    
    color: black;
    font-size: 18px;
    line-height: 110%;
    font-weight: 700;
    

}

.titlecontainer2 {
    color: black;
    font-size: 24px;
    line-height: 110%;
    padding-bottom: 5px; 
    padding-top: 20px;
   

}

.titlecontainer3 {
    
    color: #B23000;
    font-size: 26px;
    text-align: left;
    padding-bottom: 15px;
    line-height: 110%;
    font-weight: lighter;

}

.titlecontainer4 {
    
    display: inline-block;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 110%;
    color: #B23000 !important;
    
    

}


.titlecontainer5 {
    
    
    font-size: 18px;
    padding-bottom: 15px;
    line-height: 110%;
    color: grey;
    
    

}

.description {
    
    
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 105%;
    font-weight: bold;
    padding: 10px;
    min-height: 63px;
}

.description:hover {

   color: #19558d !important;
   text-decoration: none;
    
}

.descriptiontop {
    
    
    
    font-size: 26px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 105%;
    font-weight: 500;
    display: inline-block;
    
    
}



.floatleft {
    float: left;
}

.fontsize20 {
    font-size: 19px;
    line-height: 105%;

}



.border{
    border:1px solid #D8D8D8;
    background-color: white ;
    padding: 15px;
    margin: 5px;
    
}


.description2 {
    
    display:inline-block;
    color: grey;
    font-size: 12px;
   
     
    
}

.white {
    color: white;
    text-decoration: none;
    linkColor: red;
}

.description4 {
    
    
    color: grey;
    font-size: 18px;
    border:1px solid white;
    background-color: white ;
    padding-top: 15px;
    

     
    
}



.text{

font-size: 15px;


}


.subtitle {
    padding-bottom: 10px;
}



#eventhead h1 { 
  
  font-size: 30px; 
  
  
  
} 

#eventhead p2 { 
  text-align: center;
  font-size: 30px; 
  text-color: black
} 

#eventhead p1 { 
  
  font-size: 12px; 
  padding: 10px;
  
} 

.descriptioncontainer {
    width: 400px;
}

.commentcontainer {
    
    
    width: 600px;
    font-size: 26px;
    margin: 10px;
    padding: 10px;
    border:1px solid #D8D8D8;
    background-color: white;

}

.commentshowcontainer {
    
   
    width: 600px;
    font-size: 24px;
    border:1px solid #D8D8D8;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 500px;

}

.usernameshowcontainer {
    padding: 10px;

}

.usernamecontainer {
    
    
    font-size: 18px;
    margin: 10px;
    border:1px solid #D8D8D8;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 150px;

}

.lightcontainer{
    
    font-size: 10px;
    color: grey;
    padding-bottom: 2px;

    
   
}



.lightcontainerlink {
    
    font-size: 10px;
    padding-bottom: 5px; 
}

.lightcontainer2{
    
    display: inline-block;
    font-size: 18px;
    padding-top: 5px;
    
}

.lightcontainer3{
    padding-top: 10px;
    font-size: 10px;
    color: grey;
}

.lightcontainer4{
    
    font-size: 10px;
    color: grey;
    display: inline-block;
}


.lightcontainer5{
    
   font-size: 18px;
   color: #B23000;
}


.lightcontainer6{
   padding-top: 10px;
   font-size: 10px;
   color: #b7b7b7;
   
   
 
    
}


.lightcontainer6b {
   padding-bottom: 10px;
   font-size: 10px;
   color: #b7b7b7;
   
   
 
    
}


.lightcontainer7 {
   
   padding-top: 5px; 
   padding-bottom: 10px;
   font-type: italic;
   color: #b7b7b7;
    
   
}



.lightcontainer8{
    
   font-size: 24px;
    color: grey;
    font-weight: bold;
    
    
   
}
.lightcontainer9{
    font-size: 10px;
    color: grey;
}

.lightcontainer10{
    padding-top: 10px;
    display: inline-block;
    font-size: 15px;
    
    padding-right: 5px;
}

.lightcontainer11{
  
    font-size: 15px;
    
    padding-bottom: 5px;
}

.questioncontainer {

    
    font-color: black;
    font-size: 24px;
    line-height: 110%;
    font-weight: bold;
    
    
}

.thirty {
    width: 50%;
    float: left;
    display:inline-block;
}

.questioncontainer2 {

    font-color: black;
    font-size: 26px;
    padding-bottom: 10px;
    line-height: 110%;
    
    
    
    
    
}

.questioncontainer3 {
    font-color: black;
    font-size: 16px;
    
    
}

.questioncontainer4 {    
    
    font-color: black;
    font-size: 32px;
    
}



.descriptioncontainer2b{
   
    
    
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 15px; 
    


}

.descriptioncontainer3 {
    font-color: black;
    padding-bottom: 5px;
    font-size: 15px; 
    line-height: 140%; 
 
}


.featuredanswers{

float: left;
border: 1px solid #D8D8D8;
background-color: white;
width: 500px;

}


.answercontainer2{
   

    
    
    font-color: black;
    font-size: 18px;
    line-height: 140%;

    
}

.verifiedanswer {

    
    font-color: black;
    font-size: 18px;
    line-height: 140%;
    
}
.body2{
    font-size: 20px;
    line-height: 140%;
    
}

.grey {
    color: #b7b7b7 !important;
}


.underanswercontainer2{
    padding-top: 5px;
    padding-bottom: 40px;
    font-size: 12px;
    color: grey;
}

.besideanswercontainer2{
    
    text-align: right;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    

}


.blue{
    color: #19558d !important;
    display: inline-block;

}

.blueopaque {

   opacity: 0.4;
   color: #19558d !important;
   display: inline-block;
    
}

.blue2{
    padding-top: 10px;

}


.answertitle  {
     color: #3333CC;
     font-size: 15px;
    
}  
   
    
.paddingbottom {
    padding-bottom: 10px;
}

    
    


.answercontainer{
    
    font-size: 12px;
    color: #B23000;
    font-weight: light;
    float: right;
    padding: 4px;

}

.editorspickscontainer{
    float: right;
    border:1px solid #D8D8D8;
    background-color: white;
    width: 300px;
    height: 600px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.imgheadcontainer {
   padding: 5px;
   border:1px solid #D8D8D8;
   background-color: white;
   width: 60%;
   height: 30%;
   

}


.imggreensquarecontainer {
    
}

.imggreensquarecontainer img{
    height: 50px;
    width: 50px;
    float: left;
}



    

.imgindex img {
    width: 900px;
}

.headimg {
    float: right;
    margin-top: 0px;
}
    



hr { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
margin-top: 10px; 
margin-bottom: 10px;
padding: 0px; 
}

.hr2 { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;
margin-top: 2px;
margin-bottom: 2px;
 }

.hr3 { 
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #B23000;
margin-top: 2px;
margin-bottom: 2px;
 }


hr4 {
 display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
margin-top: 5px; 
margin-bottom: 5px;
padding: 0px; 
    
}

hr5 {
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #EEEEEE;;
padding-bottom: 10px;
    
}


.floatright {
    float: right;
}

.red {
    color: #B23000 !important;

}

.redinlineblock {
    color: #B23000 !important;
    display: inline-block;
}

.red2 {
    padding-top: 20px;

}

.darkgrey {
    color: #625D5D;
    font-weight: bold;
    
}


/////////Simple Form
.form{


   color: grey;

}
.form2{
border:1px solid white;
    
}



.first {
    font-size: 20px; 
    color: grey;
    
    
    
}
.first2 {
     
    color: grey;
    padding-bottom: 10px;
    
    font-weight: bold;
    color: #B23000;
    
}
.first3 {
     
    color: grey;
    padding-bottom: 10px;
    font-weight: bold;
    color: #B23000;
    
}

.topimage{
    padding-bottom: 40px;
}
.toptitle{
    font-size: 42px;
    line-height: 110%;
}


.margin{
    margin-left: 3px;
}

.number {
    padding-top: 5px;
    font-size: 18px;
    padding-bottom: 0px;
    
}

.number2 {
    
    font-size: 16px;
    
    
}


.q {
    
    font-size: 18px;
    
}







.padding {
    padding-bottom: 30px;
}




.green {
    color: green;
}



.simple_form div.input {
  
  background-color: white;
}

.simple_form div.input:focus {
    border: 1px solid white !important; 
}

.hello {
    
    
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "nimbus-sans",sans-serif;
    width: 100% !important;
    font-size: 24px;
    font-weight: bold;
    color: black;


}

.hello2 {
    
    
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "nimbus-sans",sans-serif;
    width: 100% !important;
    font-size: 18px;
    color: #b7b7b7;


}


.hello3 {
    
    
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "nimbus-sans",sans-serif;
    width: 100% !important;
    font-size: 15px;
    color: black;


}



.wysihtml5 {
    border: 0px solid white !important;
    resize: none;
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
    width: 100% !important;
}


.create {
    border: 1px solid #EEEEEEE;
    resize: none;
}



.twitter-share-button{
    color: blue;
}

.paddingleft {
   padding-right: 20%; 
}

.info {
    display:inline-block;
    font-size: 15px;
    padding-top: 10px;
    
    
    
    
}

.infob {
    display:inline-block;
    font-size: 16px;
     
   
    
}


.info2 {
    
    display:inline-block;
    font-size: 15px;
    padding-top: 30px;
    
    
}


.info2b {
    
    
    font-size: 15px;
    padding-top: 10px;
    
    
}


.info3 {
    font-size: 20px;
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE; 
    padding: 15px;
    
}


.info4 {
    font-size: 18px;
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE; 
    
    
}

.info5 {
    font-size: 18px;
    display:inline-block;
    border:1px solid #EEEEEE;
    background-color: #EEEEEE; 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.info6 {
    
    display:inline-block;
    font-size: 13px;
    color: white;
    border:0px solid #B23000;
    background-color: #B23000; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
    position: absolute;
    top: 0;
    

}

.viewallposts {
    display:inline-block;
    font-size: 11px;
    border: 0px solid #EEEEEE;
    background-color: #EEEEEE; 
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
    

}
.info7 {
    display:inline-block;
    font-size: 15px;
    color: #B23000;
    margin-bottom: 5px;
    
}



.background {
  border:1px solid #E8E8E8;
  background-color: #E8E8E8; 
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  
}

.background2 {
  border:0px solid #E8E8E8;
  background-color: #E8E8E8; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;

}

.margin3 {
    margin-top: 10px;
}


.x {
    float: left;
    font-size: 30px;
    color: #B23000 !important;
    text-decoration: none !important;
    

}



.border5 {
    border:1px solid black;
    padding: 15px;
    margin: 10px;
}

.blackborder {
  padding-bottom: 5px;
  
}

.questionnumber {
    
    font-size: 22px;
    color: #B23000;
    padding-bottom: 10px;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
}


.formbackground {
border:1px solid grey;
  background-color: white;
  padding: 10px;
    
}


.headtext {
    font-size: 34px;
    display: inline-block;


}

.firstanswer {
    
    font-weight: lighter;
    font-size: 22px;
    color: grey;
    padding-bottom: 10px;

}

.borderleft2{
border-left:1px solid #EEEEEE;
padding-left: 10px;


}



#pins {
  margin: 0 auto;
  
}



#pin {
  margin: 0 auto;
  
}

.box {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 44%;
  float: left;

}




.commentimage img {
    height: 170px;
    width: 100%;
    padding-bottom: 10px;
    
}

.commentimage2 img {
    height: 300px;
    width: 100%;
    padding-bottom: 10px;
}




/*Media Queries*/
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    .box {
        width: 40%;
    }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    .box {
        width: 80%;
    }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    .box {
        width: 600px;
        
    }
}
 


.boxtwo {
 
 margin-bottom: 20px;
 
}

////////////////////
@media only screen and (max-width : 2000px),
only screen and (max-device-width : 2000px){
    .boxtwo {
        width: 48%;
    }
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    .boxtwo {
        width: 410px;
    }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    .boxtwo {
        width: 500px;
    }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    .boxtwo {
        width: 600px;
        
    }
}
 
@media only screen 
and (max-width : 599px),
only screen and  (max-device-width : 599px){
    .boxtwo {
        width: 340px;
    }
}
 
@media only screen and (max-device-width : 399px),
only screen and (max-device-width : 399px){
    .boxtwo {
        width: 330px;
    }
}
 
//////////////////

.boxthree {
 margin: 5px;
 
 
}


.bordertop {
    border-top: 1px solid #EEEEEE;

}


.newspaper {
    border: 0px solid #EEEEEE;
   
   
    
}




.newspapertop {
    border: 0px solid #EEEEEE;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px; 
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: 725px;

}


.newspapertop::after {
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.newspapertop2 {
    border: 1px solid #EEEEEE;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px; 
    margin-bottom: 10px; 
    width: 725px;
    margin-bottom: 10px;

}


.topimage {
    display: inline-block;
}




.newspaperm {
    border: 1px solid #EEEEEE;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
   
    
}

.newspaperb {
    border: 1px solid #EEEEEE;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    
   
    
}



.home {
    padding: 10px;
}
.redline {
    border-left: 2px solid  #B23000;
    padding-left: 3px;
}

.newspaper2 {
    border: 0px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
    margin-right: 30px;
    margin-bottom: 10px;

    
}

.newspaper2b {
    border: 1px solid #EEEEEE;
    padding: 15px;
    margin-bottom: 10px;
}

.newspaper3 {
    
    border: 1px solid #EEEEEE;
    padding: 5px;
    margin-bottom: 5px;

    
}

.newspaper4 {
    border: 1px solid #EEEEEE;
    padding: 3px;
    display: inline-block;
    margin-bottom: 5px;
}

.newspaper10 {
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
    
    margin-bottom: 5px;
}


.newspaper5 {
    border: 1px solid #EEEEEE;
    padding: 3px;
    margin-bottom: 5px;
}


///////////sidebar//////////////////////////////////
.newspaper6 {
    
    
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    
    
}

.newspaper6:hover {
   



}

.hrleft {
    padding-left: 5px;
}

.newspaper6b {
    
    border: 1px solid #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    
    
}

.sidebar {
    border: 1px solid #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 10px;

}

.addevent {
   
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    

}

.addevent2 {
    opacity: 0.2;
    border: 1px solid #B23000;
    background-color: #B23000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    

}


//////////////////////////////////////////////////////
.mobilesidebar {
    display: inline-block;
    font-size: 20px;
    border: 1px solid #EEEEEE;
    padding: 5px;
    margin-bottom: 5px;

}

.margintopp {
    margin-top: 5px;
}

.tagtext {
    
    font-size: 20px;
    color: black;

}

.newspapernumber {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: white;
    font-size: 38px;
    padding: 30px;
}

.homepadding {
    padding-left: 50px;
}


.paddingleft2 {
padding-left: 60px;
}


.margintop {
   margin-top: 68px;
   padding: 10px;
}
.margintop2 {
  
   padding: 10px;
}
.displayinlineblock {
display:inline-block;
}



.fifty2 {
    width: 100%;
    

}


.answerbio{
    color: grey;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 3px;
    font-weight: normal;
    

}

.italic {
    font-style:italic;
}

.clear { 
   clear: both;
}

.fixed {
    position: fixed;
}

.white {
    color: white !important;
}


.belowsidebar {
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
    
}

.belowsidebar2 {
    
   
    font-size: 12px;
    text-align: left;
}

.paddingtopuser {
    padding-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}




///////////////////////////////////

.redborder {


}

.redborder2 {
margin-bottom: 0px;

}

.logo {
    display: inline-block;
    color: white;
    font-size: 30px;
    border:1px solid white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-weight: bold; 
}

.logotext {

 font-size: 26px;
 font-weight: bold;
 color: #B23000;
 margin-bottom: 20px;
    
}

.font22 {
  
padding-top: 10px;
font-size: 18px;
line-height: 110%;
  
}

.besideformtext {

padding-top: 10px;
font-size: 22px;
line-height: 110%;
    
}

.learnmore {
    
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.learnmore2 {
    display: inline-block;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    padding-top: 20px;
    
    
}

.learnmore3 {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    
    
    
}

.link {
   
    margin-bottom: 5px;
    color: black;
    font-size: 15px;

    
    
}
.line {
    border-left: 2px solid #EEEEEE;
    padding-left: 15px;
}

.line2 {
    border-right: 1px solid #EEEEEE;
    padding-right: 15px;
}

.upvotes {
    color: #B23000;
    font-size: 16px;
    display: inline-block;
    padding: 6px;
    font-weight: bold;
}

.upvote {
   
    font-size: 16px;
    display: inline-block;
   
}

.facebook {
    border: 1px solid #EEEEEE; 
    display: inline-block;
    
}

.facebook img {
    height: 50px; 
    width: 50px;
}


.twitter {
text-align:center;
    
}


.margin5 {
    padding-left: 5px;
    
}

.paddingtop {
    padding-top: 20px;
}



.editpadding {
    
    padding-bottom: 15px;
}


.paddingside {
    margin-right: 10%;
}


.linktext2 {
    display: inline-block;
    color: grey;
    padding-bottom: 5px;
}

.descriptionaddevent {
    
    font-size: 21px;
    padding: 5px;
    line-height: 110%;
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;

}


.form-signin{
  border-color: white;
  
}

.displayinlineblock {
    display: inline-block;
}




.aboutimage img {
    height: 180px;
    width: 341px;
}

.aboutbox {
    width: 349px;
}

.aboutpadding {
    padding-top: 100px;
}

.aboutpadding2 {
    padding-top: 120px;
}
 
.aboutpadding3 {
    padding-top: 50px;
}


.aboutpaddingleft {
    padding-left: 50px;
}

.aboutpaddingbottom {
    padding-bottom: 10px;
}

.aboutlinkpadding {
    margin-top: 80px;
}

.aboutlink {
    text-decoration: none !important;
    
    text-align: center;
    border: 2px solid #EEEEEE;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: #B23000;
}

.aboutlink:hover {
    text-decoration: none !important;
    background-color: #EEEEEE;
}

.screenshot img {
    width: 644px;
    height: 255px;
}

.fontsize16 {
    font-size: 15px;
}



.allquestions {
    padding-top: 25px;
    font-weight: bold;
}

.allquestions2 {
    padding-top: 10px;
    font-weight: bold;
}

.questionborder {
    border: 1px solid #EEEEEE;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}


.username {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;

}

.usernametext {
    font-size: 16px;
    font-weight: bold;
    display: inline-block
}

.usernametext2 {
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

.usernamelinks {
    padding-bottom: 5px;

}

.usernamepadding {
    
    padding-top: 15px;
    padding-bottom: 20px;
}

.return {
    display: inline-block;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.center {
    
    float: none;
    margin: 0 auto;
}

[class*="span"].centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}


.blackbackground {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 10px;
}



.redhead {
    background-color: #b23000;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 10px;
}

.aboutheadtext {
    text-align: center;
    color: white;
    font-size: 26px;
}

.greyhead {
    background-color: #EEEEEE;
    padding: 20px;

}


.logohead {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 30px;
    margin: 0 auto;

}

.logotexthead {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;
}


.darkgreyhead {
    background-color: grey;
    padding: 10px;
    margin-top: 114px;
}

.verticalalignmiddle {
    vertical-align: middle;
}

pull-left{
    float:left;

}

.loadmorebutton {
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 38%;
    padding-right: 37.5%;
    font-size: 18px;
    
    margin-top: 30px;
    text-align: center;
}

.loadmorebutton:hover {
    text-decoration: none;
    color: #b23000 ;
}

.margintopbutton {
    margin-top: 30px;
}

.center {
    text-align: center;
}


.paddingtop15 {
    padding-top: 15px;
}

.paddingleft {
    padding-left: 30px;
}

.userimage {
   display: inline-block; 
}

.userimage img {
    
    height: 175px;
    width: 100%;

}


.noposts {
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
}


.userimageborder {
    border: 1px solid #EEEEEE;
    height: 175px;
    padding: 10px;
}

.userpadding {
    padding-top: 10px;
}



.button10::-webkit-file-upload-button {
  visibility: hidden;
}
.button10:before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.button10:hover:before {
  border-color: black;
}
.button10:active:before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.readmorepadding {
    
    padding-top: 40px;
}


.postimage {
    border: 0px solid #EEEEEE; 
    display: block;
    position: relative;
    
}

.postimage img {
    width: 100%;
    height: 225px;
}





.eventimage {
    border: 0px solid #EEEEEE; 
    display: block;
    position: relative;
    width: 100%;
    min-height: 150px;
    

}


.eventimage::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.eventimage:hover::after {
    opacity: 1;
    cursor: pointer !important;
}


.eventshowimage {
    border: 0px solid #EEEEEE; 
    display: block;
    position: relative;
    width: 100%;
    min-height: 170px;
     
}

.eventshowimage::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


.circle img {
width: 100%;
height: 60px;
border-radius:0px;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000

}

.circlemobile img {
width: 80px;
height: 60px;
border-radius:0px;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000

}

.descriptionshow {
    color: black;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;


    padding-bottom: 15px;
    border: 0px solid white;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
}

.centertext {
    text-align: center;
}

.underline {
    margin-bottom: 20px;
}



.questionnew {
    float: right;
    display: inline-block;
    font-weight: strong;
    color: #b7b7b7 !important;

}


.usernameback {
    border: 0px solid white;
    background-color: #EEEEEE;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: bold;

}


.map img {
    width: 100%;
    height: 150px;
}

.maptext {
    font-weight: bold;
    padding-bottom: 10px;
}
