

<div class="answer-feed-avatar">
<%= link_to (image_tag(question.user.image)), user_path(question.user) %>
</div>


<div style="overflow: hidden;">

<%= link_to (question.user.name), user_path(question.user), class: "blue" %> 

<div style="display: inline; color: rgba(51,51,51,0.5); font-size: 11px; margin-left: 5px;">
3 days ago
</div>

<div class="row" style="margin-top: 7px;"></div>

<div class="small-image">
<%= sanitize(question.body.gsub(/<p>.<\/p>/,""), tags: %w(p img)).truncate(200, :separator => " ").html_safe %>
</div>


<div style="font-size: 1em; display: inline; margin-top: 1px;">
<%= link_to ("Continue reading"), comment_question_path(question.comment, question), class: "blue" %>	
 <i class="fa fa-long-arrow-right"></i>
</div>




</div>