
 <div id="footer">
    <div class="intercontent">
        <div class="width6">
           <div class="footertext">
<%= link_to "About Podium", about_path %>
</div>
<div class="footertext">
<%= link_to "Contact Us", contact_path %>
</div>  

    
    </div>
</div>
</div>


