
 <div id="footer">
        <div class="container">
            <div class="span7 centered">
            <hr/>
           <div class="footertext">
<%= link_to "About Podium", about_path %>

<%= link_to "Contact Us", contact_path %>
</div>  

<div class="floatright">
    <div class="loginlogo">
    <div class="opacitylogo">
<%= link_to (image_tag("http://i.imgur.com/IgMPC2v.png")), root_path %>
</div>
</div>
</div>
        </div>
    </div>
</div>


