
 <div id="footer">
        <div class="container">
            <div class="span6 centered">
            <hr/>
           <div class="footertext">
<%= link_to "About Podium", about_path %>

<%= link_to "Contact Us", contact_path %>
</div>  

<div class="floatright">

</div>
        </div>
    </div>
</div>


