<div class="navbar transparent navbar-inverse ">
   <nav class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
            </a>
             
            
             <%= link_to "PODIUM", root_path, class: "brand" %>

         <div class="nav-collapse">
         <ul class="nav">
           
           
           </ul>
           <ul class="nav pull-right">
                      
                    <% if user_signed_in? %>
                        
                        
                        
                       
                       <div class="circlehead">
                       <li><%= image_tag current_user.image %></li>
                     </div>
                     <% else %>
                     <li><%= link_to "Sign Up", new_user_registration_path, class: "headtext" %></li>
                    <li><%= link_to "Login", new_user_session_path, class: "headtext2" %></li>
                      <% end %>

            </ul>


                </div>
        </div>
    </div>
</div>
 


