<div class="navbar transparent navbar-inverse ">
   <nav class="navbar-inner">
     
             
         <div class="nav pull-left">
             <%= link_to ("Podium."), root_path, class: "brand"  %>
          </div>  


     </nav>
 </div>
