<div class="navbar navbar-inverse ">
   
     
             
         <div class="nav pull-left">
             <%= link_to ("Podium."), root_path, class: "brand", style: "border-right: none !important"  %>
          </div>   

     </div>