<div class="titlecontainer30">
<%= link_to (comment.title), post_comment_path(comment.post, comment), class: 'blue' %>
</div>

<div style="margin-top: 10px;">

<div class="answersnumber-text">
  <%= link_to pluralize(comment.questions.count, 'Answer'), post_comment_path(comment.post, comment), class: 'blue' %>
</div>

<div class="datecenter" style="display: inline-block;">
• Asked <%= time_ago_in_words(comment.created_at) %> ago
</div>



</div>

