
<div class="navbar transparent navbar-inverse ">
     
             
         <div class="nav pull-right">
             <%= link_to 'x', :back, class: "close3" %>
             
          </div>  
 </div>
